{% ckan_extends %}

{% block styles %}
{{ super() }}
{% resource 'odsh/odsh.js' %}
<link rel="stylesheet" href="/odsh.css?refresh={{ range(1,10000) | random }}" />
<link rel="stylesheet" href="/odsh_header.css?refresh={{ range(1,10000) | random }}" />
<link rel="stylesheet" href="/bootstrap-multiselect.css" />
{% endblock %}

{% block head_extras %}
{{ super() }}
{% set matomo_url = h.odsh_tracking_url()%}
{% set matomo_id = h.odsh_tracking_id()%}
<!-- Matomo -->
<script type="text/javascript">
  var _paq = _paq || [];
  /* tracker methods like "setCustomDimension" should be called before "trackPageView" */
  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  (function() {
    _paq.push(['setTrackerUrl', '{{matomo_url}}']);
    _paq.push(['setSiteId', '{{matomo_id}}']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.type='text/javascript'; g.async=true; g.defer=true; g.src='{{matomo_url|replace('piwik.php','piwik.js')}}'; s.parentNode.insertBefore(g,s);
  })();
</script>
<!-- End Matomo Code -->
{% endblock %}
{% block page %}
{% endblock %}