{% extends "page.html" %}

{% block subtitle %}{{ gettext('Error %(error_code)s', error_code=c.code[0]) }}{% endblock %}

{% block primary %}
  <article class="module">
    <div class="module-content error-page">
        <div class="error-title">
            HTTP Status {{ c.code[0]}}
            {%if c.code[0]=='404' or c.code[0]=='403'%}
                {%if c.code[0]=='404'%}
                  <div class="error-body"><h2>Seite nicht gefunden</h2>
                {%elif c.code[0]=='403'%}
                  <div class="error-body"><h2>Zugriff nicht erlaubt</h2>
                {% endif %}
                <h3>Wie finde ich die gesuchten Inhalte im Landesportal?</h3>

                <p><a class="" href="http://www.schleswig-holstein.de/odpstart" title="Zur Startseite">Zur Startseite des Open-Data-Portals</a></p>

                <h3>Kontakt</h3>
                <p>Bei Fragen oder Problemen mit dem Open-Data-Portal schicken Sie bitte eine E-Mail an die Adresse opendata@lr.landsh.de oder verwenden das Kontaktformular:</p>
                <p><a class="" href="https://www.schleswig-holstein.de/odpkontakt" title="Kontakt">Zum Kontaktformular</a></p>
            </div>
            {% endif %}
        </div>
    </div>
  </article>
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block flash %}
  {# eat the flash messages caused by the 404 #}
  {% set flash_messages = h.flash.pop_messages() %}
{% endblock %}

{% block secondary %}{% endblock %}
