<div class="footer">
    <div class="container">
        <div class="footer-content">
            <div class='footer-first-row'>
                <div class="footer-left">
                    <div class="footer-icon">
                        <img class='icon-print' src='/base/images/Icon-Print.png' />
                        Drucken
                    </div>
                </div>
            </div>
            <div class='footer-line'></div>
            <div class="footer-left">
                <div class="footer-icon">&copy; {{g.site_title}}</div>
                <div class="footer-right">
                    <div class='footer-icon'><a href='https://www.schleswig-holstein.de/DE/Serviceseiten/Kontakt/kontakt_node.html '>Kontakt</a></div>
                    <div class='footer-icon'><a href='https://www.schleswig-holstein.de/DE/Serviceseiten/Impressum/impressum_node.html'>Impressum</a></div>
                    <div class='footer-icon last'><a href='https://www.schleswig-holstein.de/DE/Serviceseiten/Datenschutzerklaerung/datenschutz_node.html'>Datenschutz</a></div>
                </div>
            </div>
        </div>
    </div>
</div>