<div class="footer">
    <div class="container">
        <div class="footer-content">
            <div class='footer-first-row'>
                <div class="footer-left">
                    <div class="footer-icon">Drucken</div>
                </div>
            </div>
            <div class='footer-line'></div>
            <div class="footer-left">
                <div class="footer-icon">&copy; 2018 Open Data Schleswig Holstein</div>
                <div class="footer-right">
                    <div class='footer-icon'>Kontakt</div>
                    <div class='footer-icon'>Impressum</div>
                    <div class='footer-icon last'>Datenschutz</div>
                </div>
            </div>
        </div>
    </div>
</div>