{% ckan_extends %}

{% block skip %}
    <a class="skip-link" href="#content">
        Zum Inhalt springen.
    </a>
{% endblock skip %}

{%- block content %}
<div class="blur-layer"></div>
{% block maintag %}<div role="main">{% endblock %}

{% if h.odsh_use_matomo() %}
{% set matomo_url = h.odsh_tracking_url()%}
{% set matomo_id = h.odsh_tracking_id()%}
<noscript><p><img src="{{matomo_url}}?idsite={{matomo_id}}&rec=1" style="border:0;" alt="" /></p></noscript>
{% endif %}

  <div id="content" class="container">
  {% if h.odsh_show_testbanner() %}
<div id="testsystem">
      <p>TESTSYSTEM</p>
</div>
{% endif %}
    {% block main_content %}

    {% block flash %}
    {{ super() }}
    {% endblock %}

    {% block toolbar %}
    {{ super() }}
    {% endblock %}

    <div class="row wrapper{% block wrapper_class %}{% endblock %}{% if self.secondary()|trim == '' %} no-nav{% endif %} is-table-row">
      {#
      The pre_primary block can be used to add content to before the
      rendering of the main content columns of the page.
      #}
      {% block pre_primary %}
      {% endblock %}

      {% block secondary %}
      <aside class="secondary span3">
        {% block secondary_content %}
        {{ super() }}
        {% endblock %}
      </aside>
      {% endblock %}

      {% block primary %}
      <div class="primary span9">
        {% block primary_content %}
        {{ super() }}
        {% endblock %}
      </div>
      {% endblock %}

    </div>
    {% block pre_wrap %}
    {% endblock %}
    {% endblock %}
  </div>
</div>
{% endblock -%}