[depends]

main = base/main
autocomplete =
    vendor/jquery-ui-autocomplete/jquery-ui.css
    vendor/jquery-ui-autocomplete/jquery-ui.structure.css
    vendor/jquery-ui-autocomplete/jquery-ui.theme.css
    vendor/jquery-ui-autocomplete/jquery-ui.js

[groups]

odsh_spatial_query =

    vendor/leaflet.js
    vendor/proj4-compressed.js
    vendor/proj4leaflet.js
    vendor/leaflet.draw.js
    common_map.js
    odsh_spatial_query.js

    leaflet.css
    leaflet.draw.css
    spatial_query.css

autocomplete =
    autocomplete.js
    autocomplete.css
