{% extends "page.html" %}

{% block subtitle %} {{ _('Login') }} {% endblock %}

{% block breadcrumb_content %}
<li class="active">{{ h.nav_link(_('Login'), controller='user', action='login') }}</li>
{% endblock %}

{% block primary_content %}
<section class="module">
    <div class="module-content">
        <h2 class="page-heading">{% block page_heading %}{{ _('Login') }}{% endblock %}</h2>
        {% block form %}
        {% snippet "user/snippets/login_form.html", action=c.login_handler, error_summary=error_summary %}
        {% endblock %}
    </div>
</section>
{% endblock %}

{% block secondary_content %}

{% block help_forgotten %}
<section class="module module-narrow module-shallow">
    {% block help_forgotten_inner %}
    <span>{{ _('Forgotten your password?') }}:</span>
    {% block help_forgotten_button %}
    <a class="btn-forget-password" href="{{ h.url_for(controller='user', action='request_reset') }}">
        {{ _('change password') }}</a>
    {% endblock %}
    {% endblock %}
</section>
{% endblock %}
{% endblock %}