{% extends "page.html" %}

{% block toolbar %}
  <div class="toolbar">
    {% block breadcrumb %}
      {% if self.breadcrumb_content() | trim %}
        <ol class="breadcrumb">
          {% snippet 'snippets/home_breadcrumb_item.html' %}
          {% block breadcrumb_content %}
            <li class="active">{{ h.nav_link(_('Logout'), controller='user', action='logout') }}</li>
          {% endblock %}
        </ol>
      {% endif %}
    {% endblock %}
 </div>
{% endblock %}

{% block subtitle %}{{ _('Logged Out') }}{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      <h1 class="page-heading">
      	{% block page_heading %}{{ _('Logged Out') }}{% endblock %}
      </h1>
      <p>{% trans %}You are now logged out.{% endtrans %}</p>
    </div>
  </section>
{% endblock %}

{% block secondary %}
{% endblock %}
