{% extends "page.html" %}

{% block breadcrumb_content %}
   <li class="active">{{ h.nav_link(_('Logout'), controller='user', action='logout') }}</li>
{% endblock %}

{% block subtitle %}{{ _('Logged Out') }}{% endblock %}

{% block primary %}
<div class="primary logout">
  <section class="module">
    <div class="module-content">
      <h1 class="page-heading">
        {% block page_heading %}{{ _('Logged Out') }}{% endblock %}
      </h1>
      <p>{% trans %}You are now logged out.{% endtrans %}</p>
    </div>
  </section>
</div>
{% endblock %}


{% block secondary %}
{% endblock %}
