/* FONTS */

@font-face{
    font-family:"MuseoSans";
    src:url("/base/fonts/Fonts/905300/fd479df2-01b0-4e3a-a411-915c477f1352.eot?#iefix");
    src:url("/base/fonts/Fonts/905300/fd479df2-01b0-4e3a-a411-915c477f1352.eot?#iefix") format("eot"),url("/base/fonts/Fonts/905300/1d3191cd-ae8c-45e2-bb04-11e96d8fa974.woff2") format("woff2"),url("/base/fonts/Fonts/905300/b252d464-65cb-4950-88f7-ac0a1bf79b75.woff") format("woff"),url("/base/fonts/Fonts/905300/b3d18117-6517-4d3f-afc1-774086ff5fc1.ttf") format("truetype");
}



/* css allgemein (body, etc.) */

body {
    font-family: "MuseoSans", Euphemia, Segoe UI, Arial, Helvetica, sans-serif, "Droid Sans";
    font-weight: 300;
    font-style: normal;
    line-height: 1.2;
    font-size: 16px;
    background:none;
    /* background-color: #d4004b; */
}
html,body {
    height: 100%;
}

/* FROM: https://stackoverflow.com/questions/2610497/change-an-html5-inputs-placeholder-color-with-css */
/* do not group these rules */
*::-webkit-input-placeholder {
    color: black !important;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: black !important;
    opacity: 1 !important;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: black !important;
    opacity: 1 !important;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: black !important;
}
*::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black !important;
}
*::placeholder {
    /* modern browser */
    color: black !important;
}

input, button, select, textarea {
    font-family: 'MuseoSans','Helvetica Neue',Helvetica,Arial,sans-serif;
}


h1{
    color:#003064;
    font-weight: normal ;
}

h3{
    color:black;
    font-weight: normal ;
    font-size:20px;
}

.secondary h1.heading {
    color:black;
    font-weight: normal ;
    font-size: 16px;
}

/* css for searchresults */

/* same width as schleswig-holstein.de */
.container {
    width: 960px;
}
@media (max-width: 767px){
.container {
    width: 100%;
}
}

.search-form, .odsh-dataset-heading {
    border-bottom: 4px solid #dbdbdb;
    padding-bottom: 5px;
}

#organization-datasets-search-form,
.with-bottom-line
{
    border-bottom: 2px solid #dbdbdb;
}

#organization-datasets-search-form h2 {
color:black;
font-size:18px;
}

.organizaion-full-description{
    padding-bottom: 50px;
}

.organization-list-title .search-form {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.search-form .control-order-by select {
    width: 225px;
    margin: 0;
    border: 1px;
    background-color: #f2f2f2;
    color: #003064;
}

.search-form h2, .odsh-dataset-heading h2 {
    margin-top: 0px;
    font-size: 25px;
    color: #003064;
    font-weight: 300;
}

.module-content:first-child {
    padding-top: 0px;
}

.module-content {
    padding: 0;
}

.page-heading{
        font-size: 25px;
    color: #003064;
    font-weight: 300;
        border-bottom: 4px solid #dbdbdb;
    padding-bottom: 10px
}

input[type=radio], input[type=checkbox] {
    top: 0px;
}


@media (min-width: 768px){
    [role=main], .main {
	background: white;
    }

    .wrapper {
	background-image: none;
	background-repeat: no-repeat;
    }
}

.secondary {
    background-color: #f2f2f2;
}

.secondary.span3 {
    width: 193px;
    max-width: 1970px;
    padding: 20px 16px 0px;
}
.secondary .module-narrow .module-content{
    padding-left: 0px;
    padding-right: 0px;
}

.primary {
    padding-left: 20px;
}

.primary.organization {
    padding-left: 0px;
}

.primary.span9 {
    width: 725px;
}

.primary.logout {
    width: 725px;
    padding-left: 0px;
}

.wrapper {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
}

.karte_inner {
    background-color: lightgrey;
    height: 220px;
    margin-bottom: 20px;
}

.filter-reset {
    padding: 0px 0px 10px 0px;
}

.filter-reset-label {
    float: left;
}

.filter-reset-box {
    float: right;
    background-color: white;
    padding: 0px 10px 0px 10px;
}

.filter-reset-box a {
    font-size: 12px;
}

.filters section nav {
    border-top: 2px solid #DBDBDB;
}

.filters section nav .nav-title {
    padding: 15px 0px 0px 0px;
    font-size: 12px;
    color: black;
}

.nav-simple>li {
    border-bottom: 0px;
    padding: 15px 0px 0px 0px;
    width: 193px;
    white-space: nowrap;
    display: flex;
    justify-content: space-between;
}

.nav-item .facet_label {
    flex:1;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.nav-item .facet_label a{
    color: black;
}

.nav-item .facet_count {
    display: inline-block;
    background-color: white;
    padding: 0px 2px 0px 2px;
}


/* checkbox customize trick, see: https://stackoverflow.com/questions/24322599/css-why-cannot-change-checkbox-color-whatever-i-do */
.facet_label input[type=checkbox] {
    display:none;
}


label.rangesearch,
input[type=checkbox] + label.mylabel {
    background: #fff;
    border: 1px solid black;
    height: 8px;
    width: 8px;
    display: inline-block;
    padding: 0 0 0 0px;
    margin-bottom: 0px;
    min-height: 8px;
}

label.rangesearch.checked,
input[type=checkbox]:checked + label.mylabel {
    background: url(/base/images/checked.png);
    background-color: #fff;
    background-size: 8px 8px;
    border: 1px solid black;
    height: 8px;
    width: 8px;
    min-height: 8px;
    display:inline-block;
    padding: 0 0px 0 0px;
    margin-bottom: 0px;

}
.checklabel input[type="checkbox"]
{
    float: inherit;
}

label.rangesearch,
label.mylabel  {
    margin-right: 3px;
    margin-bottom: 0px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

label.rangesearch::after,
label.mylabel::after {
    content: "";
}

label.rangesearch.disabled {
    cursor: default;
    border-color: #999999;
}

.rangesearch-controls{
    margin-top:10px;
}

.rangesearch{
    display: inline-block;
}

.rangesearch a{
    color:black;
    font-size:14px;
}

.controls input.rangesearch{
    font-style: normal;
    width:187px;
    padding: 2px;
    font-size: 12px;
    line-height: 1.16666667em;
}

.controls.rangesearch label{
    font-size: 12px;
    line-height: 1.16666667em;
    color:black
}

/* following makes the secondary span (left side, facets etc.) the same height as the primary span */
/* see: https://scotch.io/bar-talk/different-tricks-on-how-to-make-bootstrap-columns-all-the-same-height */
.is-table-row {
    display: table;
}

.is-table-row [class*="span"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.pill {
    background-color: #F6F7F9;
    border-radius: 0px;
    color:black;
    font-size: 12px;
    margin-right: 2px;
}

.pill a.remove {
    color: black;
    font-size: 10px;
    position: relative;
    top: -8px;
    right: -8px;    
}

.container-fluid.odsh-dataset-item {
    padding: 20px 0px 20px 0px;
    border-bottom: 2px solid #DBDBDB;
}
.container-fluid.odsh-dataset-item:hover {
    background-color: rgb(246,247,249);
}

.organization-item{
    padding: 5px 0px 5px 0px;
    border-bottom: 2px solid #DBDBDB;
}

a .organization-item {
    color: black;
}
a:hover .organization-item ,a:focus .organization-item
{
    color:black;
    background-color: rgb(246,247,249);
}
a:hover.organization-item ,a:focus.organization-item
{
    text-decoration: none;
}

.organization-item .organization-item-text{
    vertical-align: middle;
}

.organization-item-text{
    padding-left: 10px;
    padding-right: 20px;
    height: 150px;
    width: 705px;
}

.dataset-content {
    float:left;
    width: 470px;
}

.dataset-heading {
    margin-right: 30px;
    font-weight: normal;
    font-size: 20px;
}
.dataset-heading a{
    text-decoration: none;
}

.dataset-empty {
    margin-right: 30px;
    color: darkgrey;
}

.dataset-meta {
    float:right;
    width: 225px;
    /* width: 30%; */
}

ul.dataset-resources {
    margin: 0px 0px 10px 0px;
}

.dataformat-label {
    background-color: #003064 !important;
    padding: 3px 3px 1px 3px;
    font-size: 14px;
    margin-right: 4px;
}

.dataset-stars {
    margin-bottom: 10px;
}

.odsh-star {
    margin-right: 5px;
    font-size: 20px;
    color: #003064;    
}

.dataformat-label:hover {
    background-color: #d4004b!important;
}

.dataset-info p {
    font-size: 12px;
    margin-bottom: 1px;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.toolbar .breadcrumb>li a {
    font-weight: normal !important;
    font-size: 15px;
    color: black;
}
.control-required {
    color: black;
}

label{
    font-size: 16px;
    font-weight: normal;
}

label:after {
    content: "";
}
.image-upload label:after {
    content: ": *";
}
.controls input,
.controls select,
.controls ul.select2-choices,
.controls textarea{
    background-color:  #F6F7F9;
    background-image: none;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid;
    border-color: #77879f;
    border-radius: 0;
    font-size: 14px;
    color:  #657592;
    font-style: italic
}

.controls input#field-login,
.controls input#field-password{
    font-style: normal;
} 

.control-group.error input,
.control-group.error .select2-choices,
.control-group.error textarea {
    border-color:#d4004b;  /* SH Rot */
}

.alert-danger, .alert-error {
    background-color: transparent;
    border-color:#d4004b;  /* SH Rot */
    color: #d4004b;  /* SH Rot */
    font-style: italic;
    border-radius: 0;
}

.control-label, .control-group.error .control-label, .control-group.error .help-block, .control-group.error .help-inline {
    color: black;
}

.input-prepend .add-on:first-child{
    border-radius: 0
}

.control-group.error .input-prepend .add-on
{
    border-color:#d4004b;  /* SH Rot */
    background-color: #F6F7F9;
}

.controls input[disabled]
{
    background-color:  #fdfdfd;
    border-color: #e7e9ee;
    color:  #e7e9ee;
}

.select2-default {
    color:  #657592!important;
}
.select2-container-multi .select2-choices .select2-search-choice{
    color:  #657592!important;
}

/* placeholders cannot be combined... */
.controls input::-webkit-input-placeholder {
    color:  #657592!important
}

.controls input::-webkit-input-placeholder {
    color:  #657592!important
}

.controls input::-moz-placeholder {
    color:  #657592!important
}

.controls input::-ms-placeholder {
    color:  #657592!important
}

.controls input::placeholder {
    color:  #657592!important
}

.controls textarea::-webkit-input-placeholder {
    color:  #657592!important
}

.controls textarea::-webkit-input-placeholder {
    color:  #657592!important
}

.controls textarea::-moz-placeholder {
    color:  #657592!important
}

.controls textarea::-ms-placeholder {
    color:  #657592!important
}

.controls textarea::placeholder {
    color:  #657592!important
}


.slug-preview .btn.btn-mini,
.btn.btn-primary{
    background-image: none;
    background-color: #0089ca;
    border: none;
    border-radius: 0;
    font-size:18px;
    text-shadow: none;
    font-weight: normal;
    padding-left: 28px;
    padding-right: 28px;
    color:white;
}
.btn.btn-primary img{
    height: 10px;
}
.btn.btn-primary.btn-arrow-right{
    padding-left: 21px;
}
.btn.btn-mini::before,
.btn.btn-primary.btn-arrow-right:before {
    background-image: url(/base/images/arrow-right-w.png);
    background-repeat: no-repeat;
    background-size: 6px 10px;
    background-position: 5px 2px;
    display: inline-block;
    width: 8px;
    height: 12px;
    content: "";
    padding: 0 0 0 5px;
}
.btn.btn-arrow-right:before
{
    background-image: url(/base/images/arrow-right-b.png);
    background-repeat: no-repeat;
    background-size: 6px 10px;
    background-position: 5px 2px;
    display: inline-block;
    width: 8px;
    height: 12px;
    content: "";
    padding: 0 0 0 5px;
}
.btn.btn-arrow-right:hover:before
{
    background-image: url(/base/images/arrow-right-w.png);
}

.slug-preview .btn.btn-mini:hover,
.js .image-upload .btn.hover,
.image-upload a.btn:hover,
.image-upload .btn:hover,
.btn.btn-primary:hover{
    background-color: rgb(212,0,75);
    color:white;
}
.slug-preview .btn.disabled.btn-mini:hover,
.js .image-upload .btn.disabled.hover,
.image-upload a.btn.disabled:hover,
.image-upload .btn.disabled:hover,
.btn.disabled.btn-primary:hover{
    background-color: #0089ca;
    color:white;
}
.js .image-upload #field-image-url {
   padding-right: 0px;
}

.btn {
    border-bottom-color: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom-color: transparent;
    border: 1px solid #0089ca;
    background-image: none;
    background-color: white;
    text-shadow: none;
    padding: 9px 12px;
    color:#0089ca;
    font-weight: normal;
    font-size: 16px;
}
.btn.disabled, .btn[disabled] {
    cursor: default;
    opacity: 0.65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.btn:hover {
    background-color:#0089ca;
    color: white;
}
.btn.btn-edit-categories
{
    padding: 0px 4px;
    font-size: 10px;
}

.image-upload .btn {
    color:white;
    background-color: #0089ca;
    border:none;
}

.btn-forget-password{
    background-color: white;
    font-size: 10pt;
    padding:2px 10px;
    margin-left: 2px;
    margin-top: 4px;
    display: inline-block;
    color:#003064;
}

/* remove icon in upload button */
.image-upload .fa-cloud-upload:before {
    content: unset;
}
.image-upload .fa-globe:before {
    content: unset;
}

.stages{
    margin: -15px 0px 20px 0px
}

.stages li{
    line-height: 20pt;
    padding: 0;
}

/* simple removing content destroys layout */
.stages li:before{
    content:'';
    background: none;
    background-color: transparent;
    width: 0px;
}

.stages li .highlight{
    padding: 10px 10px;   
    font-size: 9pt;
    line-height: 12pt;
}

.stages li.active .highlight {
    color: #ffffff;
    background: #003064;
}

/* .stages li.last.uncomplete::after, */
.stages li.uncomplete .highlight{
    color: #003064;
    background: rgb(204,214,224);
}

.stages li.last.uncomplete::after {
    border-bottom-color: rgb(204,214,224);
    border-top-color: rgb(204,214,224);
}

.stages li.complete .highlight{
    color: #003064;
    background: rgb(204,214,224);
}
.stages li.active:after{
    border-top-color: #003064;
    border-bottom-color: #003064;
}
.stages li.complete:after{
    border-top-color: rgb(204,214,224);
    border-bottom-color: rgb(204,214,224);
}

.stages :focus {
    outline: none
}

.form-actions{
    border: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.form-actions.resource-buttons{
    text-align: left;
}

.form-actions.resource-buttons .float-right{
    float: right;
}

.footer{
    color:white;
    border-top:60px solid #f2f2f2;
    background: #d4004b;
    max-width: 1280px;
    margin: auto;
}
.footer a{
    color:white;
}
@media (max-width: 767px){
.footer{
    border-top:0px;
    width: 100%;
}
body {
    background-color: white;
}
}
.footer .container{
    width: 100%;
    max-width: 1000px;
    padding-bottom: 15px;
}
.footer-content{
    width: 100%;
    max-width: 965px;
    font-size: 16px;
    font-weight: 500;
    display: block;
    background-image: url(/base/images/footer-wappen.png);
    background-repeat: no-repeat;
    background-size: 658px 336px; 
    background-position: 80% 40%;
    height: 250px;
}
.footer-right{
    float: right;
}
.footer-icon{
    float: left;
    margin-right: 40px;
}

.footer-icon.last{
    float: right;
    margin-right: 0px;
}

.footer-first-row{
    padding-top: 185px;
    height: 20px;
}

.footer-line{
    border-top: 1px dashed white;
    margin-bottom: 10px;
    margin-top: 10px;
}

.toolbar .breadcrumb li:after {
    background-image: url(/base/images/arrow-right.png);
    background-repeat: no-repeat;
    background-size: 8px 12px;
    background-position: 4px 1px;
    display: inline-block;
    width: 8px;
    height: 12px;
    content: "";
    padding: 0 0 0 5px;
}
.toolbar .breadcrumb li:last-of-type:after,
.toolbar .breadcrumb li.active:after {
    background-image: none;
    width: 0px; 
    height: 0px;
}

.create-dataset-form{
    width: 50%;}

.organization-image{
    max-width: 225px;
    max-height: 78px;
    margin-left: auto;
    display: block;
    text-align: center;
}
.organization-image-info{
    max-width: 225px;
    max-height: 78px;
    margin: auto;
    display: block;
    text-align: center;
}
.organization-image-container{
    padding-bottom: 15px;
    border-bottom: 2px solid #DBDBDB;
    margin-bottom: 15px;
    text-align: center;
}
.is-table-row .organization-image-column {
    width: 225px;
    vertical-align: middle;
    height: 100%;
}

.primary.span12 {
    width: 100%;
}

.inline-error {
    color: #d4004b;
    margin-top: 5px;
}

.controls select {
    width: 100%;
}

.page-header {
    border: none;
}

.module .module-content {
    margin: 0px;
}

.info-detail {
    margin-bottom: 20px;
    font-size: 12px;
    color: black;
    max-width: 193px;
    word-break: break-word;
}
.info-detail p{
    margin: 0;
}
.info-detail .map-text{
    margin-top: 5px;
    margin-bottom: 5px;
}
.odsh-dataset-heading {
    margin-bottom: 30px;
}

.odsh-dataset-heading .dataset-stars {
    margin-bottom: 5px;
}

.notes {
    margin-bottom: 30px;
}

.resource-list {
    margin: 0px;
}

.resource-item {
    background: #f2f2f2;
    margin-top: 10px;
    padding: 15px 15px 15px 15px;
}

.resource-dataformat-label {
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    float: left;
}

.resource-title {
    float: left;
    margin-left: 5px;
    color: black;
    text-overflow: ellipsis;
    overflow: hidden;
    /* width: 395px; */
    white-space: nowrap;
}
.resource-title-container{
    display: flex;
}
.resource-title-container .dataformat-label:hover{
    background-color: #003064 !important;
}

.resource-description-container {
    margin-top: 8px;
}

.resource-description-container .description {
    line-height: 1.3;
    color: black;
}

.resource-title {
    cursor: pointer;
}

.is-table-row .resource-details-left {
    padding-right: 20px;
    width: 455px;
    float:left;
}

.resource-icons {
    font-size: 28px;
    width:210px;
    float: right;
}
.resource-icons img {
    width: 28px;
}
.icon{
    background-repeat: no-repeat;
    background-size: 28px 28px;
    width: 28px;
    height: 28px;
}
.icon-edit{
    background-image: url(/base/images/Icon-Bearbeiten.png);
}
.icon-download{
    background-image: url(/base/images/Icon-Download.png);
}
.icon-edit:hover{
    background-image: url(/base/images/Icon-Bearbeiten_hover.png);
}
.icon-download:hover{
    background-image: url(/base/images/Icon-Download_hover.png);
}
.icon-print{
    width:25px;
}
.breadcrumb .home .icon-home
{
    width:15px;
    vertical-align: 0px;
}


.resource-icons a {
    color: #003064;
}

.resource-icons a:hover {
    color: #d4004b;
    text-decoration: none;
}

.resource-item .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}

.search-box-container{
    width:100%;
    max-width: 430px;
    margin-bottom: 60px;
    margin-left: 250px;
}

#field-sitewide-search {
    font-size: 87%;
    font-weight: 300;
    padding: 0px;
    padding-right: 35px;
    padding-left: 5px;
    width: 100%;
    line-height: 1.1;
    border: 1px solid #003064!important;
    color:#003064;
    background: rgb(246,247,249);
    box-shadow: none !important;
    height: 40px;
    border-radius: 0px;
}

.simple-input .field .btn-search {
    height: 25px;
    width: 25px;
    background: url(/base/images/Icon-Suche.png);
    background-size: 25px 25px;
    right: -28px;
    top: -25px;
    position: relative;
    float: right;
}

.search-box-container .field{
    width: 100%;
    max-width: 465px;
}

@media (max-width: 767px){
.search-box-container{
    margin-bottom: 20px;
    padding: 0px;
    margin-left: 0px;
}
}


/* FROM: https://stackoverflow.com/questions/2610497/change-an-html5-inputs-placeholder-color-with-css */
/* do not group these rules */
.login-form .controls ::-webkit-input-placeholder,
#field-sitewide-search::-webkit-input-placeholder {
    color: #003064!important;
}
.login-form .controls :-moz-placeholder,
#field-sitewide-search:-moz-placeholder {
    /* FF 4-18 */
    color: #003064!important;
    opacity: 1 !important;
}
.login-form .controls ::-moz-placeholder,
#field-sitewide-search::-moz-placeholder {
    /* FF 19+ */
    color: #003064!important;
    opacity: 1 !important;
}
.login-form .controls :-ms-input-placeholder,
#field-sitewide-search:-ms-input-placeholder {
    /* IE 10+ */
    color: #003064!important;
}
.login-form .controls ::-ms-input-placeholder,
#field-sitewide-search::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #003064!important;
}
.login-form .controls ::placeholder,
#field-sitewide-search::placeholder {
    /* modern browser */
    color: #003064!important;
}

#field-sitewide-search:focus {
    outline: 1px solid rgba(82,168,236,0.8);
    border-color: rgba(82,168,236,0.8);    
}

.column1{
  width: 225px;
}

[role=main],
.main {
  padding-bottom: 0px;
}
.wrapper {
  margin-bottom: 0px;
}
.primary > :last-child.pagination,
.module-content .pagination,
.pagination{
    margin-top:65px;
    margin-bottom:50px;
}
.pagination ul {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;

}
.pagination ul > li > a,
.pagination ul > li > span {
  background-color: rgb(226,227,236);
  border: 15px solid white;
  border-left-width: 0;
  font-weight: 900;
  color:black;
}
.pagination ul > li > a:hover,
.pagination ul > li > a:focus,
.pagination ul > .active > a,
.pagination ul > .active > span,
.pagination ul > li:first-child.active > a,
.pagination ul > li:first-child.active > span,
.pagination ul > li:first-child.active > a:hover,
.pagination ul > li:first-child.active > span:hover,
.pagination ul > li:last-child.active > a,
.pagination ul > li:last-child.active > span,
.pagination ul > li:last-child.active > a:hover,
.pagination ul > li:last-child.active > span:hover {
  background-color: #003064;
  color: white;
}
.pagination ul > .active > a,
.pagination ul > .active > span {
  color: white;
  cursor: default;
}
.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover,
.pagination ul > .disabled > a:focus {
  color: #999999;
  background-color: transparent;
  cursor: default;
}
.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span 
.pagination ul > li:first-child > a:hover,
.pagination ul > li:first-child > span:hover {
  border-left-width: 0px;
  -webkit-border-top-left-radius: 0px;
  -moz-border-radius-topleft: 0px;
  border-top-left-radius: 0px;
  -webkit-border-bottom-left-radius: 0px;
  -moz-border-radius-bottomleft: 0px;
  border-bottom-left-radius: 0px;
  background-color: transparent;
  color:black;
}
.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span,
.pagination ul > li:last-child > a:hover,
.pagination ul > li:last-child > span:hover {
  -webkit-border-top-right-radius: 0px;
  -moz-border-radius-topright: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-radius-bottomright: 0px;
  border-bottom-right-radius: 0px;
  background-color: transparent;
  color:black;
}
.module .pagination li a {
  border-top: none;
  border-bottom: none;
}
#dataset-map-attribution{
    display:none;

}
#dataset-map .module-heading{
    padding: 15px 0px 5px 0px;
    margin-right:0px;
    font-weight: normal;
    border-top: 2px solid #dddddd;
}
.dataset-map-expanded #dataset-map .module-heading{
    padding: 5px 0px 5px 5px;
}
.dataset-map-expanded #dataset-map
{
    width: 960px;
}
.dataset-map-expanded .wrapper {
     margin-top: 0px; 
}
.dataset-map-expanded #dataset-map{
    top:-20px;
    z-index: 999;
}
.dataset-map-expanded .filters{
    margin-top:121px;
}
.dataset-map-expanded #dataset-map .module-heading{
    border-top: none;
}
#dataset-map-edit-buttons-text{
    display: none;
}

.dataset-map-expanded #dataset-map-edit-buttons-text{
    width: 300px;
    font-size: 12px;
    display: block;
    float: left;
    padding: 12px;
}
.module.module-narrow.dataset-map{
    margin: 5px 0;
}
.spatial-detail.info-detail{
    margin-bottom: 0px;
}

#dataset-map .module-heading [class^="icon-"],
#dataset-map .module-heading [class*=" icon-"] {
  font-size: 14px;
  line-height: 1;
  width: 14px;
  text-align: left;
  display: inherit;
}
@media (max-width: 767px){
aside.secondary.span3{
display: none;
}
}

@media (min-width: 768px){
.span9 div.module-content {
    padding-left: 0px;
}
}

.masthead .navigation .nav-pills li.disabled a:hover, 
.masthead .navigation .nav-pills li.disabled
{
    pointer-events: none;
    cursor: default;
    background-color: rgb(242, 242, 242)!important;
    border-top: 2px solid rgb(242, 242, 242) ;
}
.masthead .navigation .nav-pills li.disabled span{
    color:rgba(0, 49, 102, 0.44);
}
.masthead .navigation .nav-pills li.disabled:hover{
    background-color: rgb(242, 242, 242)!important;
}

.field-organization .select2-container .select2-choice {
    background-color: #F6F7F9;
    background-image: none;
    background-image: none;
    border-radius: 0px;
    font-size: 14px;
    color: #657592;
    font-style: italic;
    border-color: #77879f;
}

.logo{
    margin-left: -7px;
}
.filter-list .filtered.pill,
.filter-list .filtered.pill .fa{
    background-color: #003064;
    color:white;
}
.site-title{
    color:black;
    /* text-align:center; */
    margin-top: 40px;
    margin-left: 400px;
}

.share-links {
    display: flex;
    justify-content: space-between;
}

.share-links a{
    font-size: 22px;
    margin-top: 5px;
    color:#003064;
}

.share-links img {
    width: 20px;
}

.home-title{
    font-size: 32px;
    font-weight: normal;
    color:#003064;
}

.home-button{
    float:right;
    margin-bottom: 20px;
}

.home-page-content{
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}
.home-groups{
    width: 100%;
    margin-top: 20px;
}
.home-groups-rows{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 27px;
}

.home_group_item{
    width: 282px;
    height: 220px;
    background-color: rgb(246,247,249);
}

.home-groups-title{
    width: 282px;
    height: 56px;
    display: block;
}
.home-groups-title div{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 22px;
    width: 242px;
    margin-left: 20px;
}
.home-groups-title a{
    width: 242px;
    color:#003064;
}
.home-groups-img{
    width: 282px;
    height: 166px;
    display: block;
    background-color:rgb(226,227,236);
}
.home-groups-img img{
    stroke:#003064;
    left: 150px;
    top: 50px;
    width: 100px;
    height: 100px;
    position: relative;
}

.required-text{
    font-size: 14px;
}