/* css for header */

/* same width as schleswig-holstein.de */
.navbar-static-top .container {
    max-width: 960px;
    width: 100%;
}
.navbar-static-top .container.navigation-container{
    width: 100%;
    max-width: 1280px;
}

@media (max-width: 767px) {
    .navbar-static-top .container.navigation-container {
        padding-left: 15px;
        padding-right: 15px;
    }
}

[class*="span"] {
    margin-left: 0px;
}

.row {
    margin-left: 0px;
}

.span3.span-navigation {
    width: auto;
}

.span9.span-navigation {
    width: auto;
    margin-right: 15px;
}

.header-image {
    padding-right: 0;
    position: relative;
    top: 0;
    left: 18px;
    padding: 1em 0;
}

/* @media (max-width: 767px){
    .header-image {
        display: block;
    } */

.language-switch {
    float: right;
    background-color: #f2f2f2;
    padding: 6px 10px;
    margin-left: 20px;
    height: 44px; /* dirty fix to make it the same height as schleswig-holstein.de */
}

.language-switch ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.language-switch li {
    display: block;
    padding: 7px;
    float: left;
    line-height: 1.5;
}

.language-switch li a {
    color: #003064;
    padding: 5px;
    display: block;
}

.language-switch li a:hover {
    color: white;
    background: #011e5a;
}

.language-switch .navLeichteSprache {
    background: url(/base/images/sprite.png) no-repeat 6px -5557px;
    font: 0/0 serif;
    display: block;
    height: 20px;
    width: 20px;
    overflow: hidden;
}

.language-switch .navLeichteSprache:hover {
    background: #011e5a url(/base/images/sprite.png) no-repeat 6px -5334px;

}

.masthead .top-search-form {
    float:right;
    background: #f2f2f2;
    width: 15em;
    height: 56px; /* dirty fix to make it the same height as schleswig-holstein.de */    
}

.masthead .top-search-form .site-search {
    margin: 0;
    padding: 14px 15px 10px;
}

.masthead .site-search input {
    padding: 5px 8px 0;
}

.masthead {
    background: white;
}

@media (max-width: 1023px) {
    .masthead {
        margin-left: 0;
        margin-right: 0;
    }
}


.navigation-container {
    background: #f2f2f2;
    width: 100% !important;
    border-bottom: 15px solid #003064;
}

@media (max-width: 1023px) {
    .navigation-container {
        border-bottom: 10px solid #003064;
    }
}

@media (max-width: 767px) {
    .navigation-container {
        border-bottom: 8px solid #003064;
    }
}

.navigation-row {
    width: 960px;
    max-width: 100%;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
}

.navbar.masthead .nav-collapse {
    float: left;
    padding-top: 0px;
    width: 100%;
}

.navbar.masthead .navigation {
     margin-right: 0px; 
}
.navbar .nav
{
    margin: 0px;
}

.header-menu-mobile {
    display: none;
}
@media (max-width: 767px) {
    .menu-modal .navbar.masthead .nav > li.header-menu-mobile,
    .menu-modal .navbar.masthead .nav > li.header-menu-mobile:hover {
        display: initial;
        background-color: #003064;
        border-top-width: 0;
        position: relative;
    }
    .menu-modal .navbar.masthead .navigation ul.nav-pills > li.header-menu-mobile > a {
        color: white;
        font-size: 18px;
    }
    .menu-modal .navbar.masthead .navigation ul.nav-pills > li.header-menu-mobile > img {
        display: inline-block;
        position: absolute;
        margin-top: -10px;
        top: 50%;
        right: 17px;
    }
}

@media (max-width: 767px) {
    .navbar .nav {
        display: none;
    }

    .menu-modal .navbar nav {
        max-width: 250px;
        background-color: white;
    }

    .menu-modal .navbar .nav {
        display: block;
    }

    .menu-modal .navbar.masthead .navigation {
        position: absolute;
        top: 8px;
        left: 0;
        z-index: 3;
    }

    .menu-modal .navbar.masthead .navigation ul.nav-pills > li {
        box-sizing: border-box;
        min-width: 100%;
        padding-left: 21px;
        margin-left: 0;
    }
    
    .menu-modal .navbar.masthead .navigation ul.nav-pills > li.active {
        border-top: 2px solid #f2f2f2;
    }

    .menu-modal .navbar.masthead .navigation .nav-pills > li > a,
    .menu-modal .navbar.masthead .navigation .nav-pills > li.active > a {
        color: #003064;
        font-size: 14px;
        font-weight: 500;
    }
    .menu-modal .navbar.masthead .navigation .nav-pills > li:hover > a {
        color: #ffffff;
        font-size: 14px;
        font-weight: 500;
    }
}

.navbar.masthead .navigation .nav-pills,
.navbar.masthead .navigation  {
    width: 100%;
}

.nav-pills li a:hover, .nav-pills li:hover {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    background-color: #003064 !important;
}

@media (min-width: 768px) {
    .navbar.masthead .navigation .nav-pills li:not(:nth-child(2)) {
        margin-left: 22px;
    }
}

/* Default border to align font vertically to active navigation tab */
.navbar.masthead .navigation .nav-pills li {
    border-top: 2px solid #f2f2f2;
}

/* Change default border color on hover to background color (align font vertically to active navigation tab) */

.navbar.masthead .navigation .nav-pills li.open,
.navbar.masthead .navigation .nav-pills li:hover {
    border-top: 2px solid #003064;
}

/* The active navigation tab gets a differently coloured top-border */
.navbar.masthead .navigation .nav-pills li.active {
    border-top: 2px solid #003064;
}

/* Remove borders and get background color from parent (.navigation-container) */
.navbar.masthead .navigation .nav-pills li.active a {
    background-color: inherit;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    text-decoration: none;
}

/* Font color of navigation links (default) */
.navbar.masthead .nav>li>a:focus,
.navbar.masthead .nav>li>a, .navbar.masthead .nav>.active>a {
    padding: 16px 10px 19px;
    color: #003064;
    font-size: 1.125rem;
}

/* Font color of navigation links (hover) */
.navbar.masthead .nav>li:hover a {
    color: #ffffff;
    text-decoration: underline;
}

.navbar.masthead .navigation .nav-pills li.disabled a:hover, 
.navbar.masthead .navigation .nav-pills li.disabled
{
    pointer-events: none;
    cursor: default;
    background-color: rgb(242, 242, 242)!important;
    border-top: 2px solid rgb(242, 242, 242) ;
}
.navbar.masthead .navigation .nav-pills li.disabled span{
    color:rgba(0, 49, 102, 0.44);
}
.navbar.masthead .navigation .nav-pills li.disabled:hover{
    background-color: rgb(242, 242, 242)!important;
}


.navbar.masthead .navigation .nav-pills .dropdown .dropdown-menu
{
    width: 190px;
}

.navbar.masthead .navigation .nav-pills .dropdown .dropdown-menu > li
{
    color:black;
    margin-left: 0px;
    padding:5px;
    border: none;
}

.navbar.masthead .navigation .nav-pills .dropdown .dropdown-menu > li > a:hover,
.navbar.masthead .navigation .nav-pills .dropdown .dropdown-menu > li:hover,
.navbar.masthead .navigation .nav-pills .dropdown .dropdown-menu > li:hover a
{
    color:white;
    background-color: #003064;
    cursor: pointer;
}

.navbar.masthead .navigation .nav-pills .dropdown .dropdown-menu > li > a
{
    color:white;
    color: #003064;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    background-image: none;
    display: inline-block;
}

.navbar.masthead .navigation .nav-pills li.dropdown.open,
.navbar.masthead .navigation .nav-pills li.dropdown.open > a.dropdown-toggle:hover,
.navbar .nav li.dropdown.open > .dropdown-toggle
{
    background-color: #003064;
    color: white;
} 

.navbar.masthead .navigation .nav-pills .dropdown img
{
    height: 2.5em;
    vertical-align: middle;
}

.navbar.masthead .navigation .nav-pills li.dropdown
{
    float: right;
}

.navbar.masthead .navigation .nav-pills li.dropdown > .dropdown-toggle
{
    padding-bottom: 12px;
    padding-top: 12px;
}

.user-icon
{
    fill:#003064;
    height: 30px;
    width: 30px;
    margin-top: -5px;
    vertical-align: middle;
    position: relative;
}

.user-icon-small
{
    fill:#003064;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    position: relative;
}

.navbar.masthead .navigation .nav-pills .dropdown .dropdown-menu > li:hover .user-icon-small,
.user-icon-small:hover{
    fill:white;
}

.navbar.masthead .navigation .nav-pills li.open .user-icon,
.navbar.masthead .navigation .nav-pills li a:hover .user-icon
{
    fill:white;
}
