/* FONTS */

@font-face{
    font-family:"MuseoSans";
    src:url("/base/fonts/Fonts/905300/fd479df2-01b0-4e3a-a411-915c477f1352.eot?#iefix");
    src:url("/base/fonts/Fonts/905300/fd479df2-01b0-4e3a-a411-915c477f1352.eot?#iefix") format("eot"),url("/base/fonts/Fonts/905300/1d3191cd-ae8c-45e2-bb04-11e96d8fa974.woff2") format("woff2"),url("/base/fonts/Fonts/905300/b252d464-65cb-4950-88f7-ac0a1bf79b75.woff") format("woff"),url("/base/fonts/Fonts/905300/b3d18117-6517-4d3f-afc1-774086ff5fc1.ttf") format("truetype");
}



/* css allgemein (body, etc.) */

body {
    font-family: "MuseoSans", Euphemia, Segoe UI, Arial, Helvetica, sans-serif, "Droid Sans";
    font-weight: 300;
    font-style: normal;
    line-height: 1.2;
    font-size: 16px;
}

/* FROM: https://stackoverflow.com/questions/2610497/change-an-html5-inputs-placeholder-color-with-css */
/* do not group these rules */
*::-webkit-input-placeholder {
    color: black !important;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: black !important;
    opacity: 1 !important;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: black !important;
    opacity: 1 !important;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: black !important;
}
*::-ms-input-placeholder {
    /* Microsoft Edge */
    color: black !important;
}
*::placeholder {
    /* modern browser */
    color: black !important;
}

input, button, select, textarea {
    font-family: 'MuseoSans','Helvetica Neue',Helvetica,Arial,sans-serif;
}


h1{
    color:#003064;
    font-weight: normal ;
}

/* css for searchresults */

/* same width as schleswig-holstein.de */
.container {
    width: 1000px;
}

.search-form, .odsh-dataset-heading {
    border-bottom: 4px solid #dbdbdb;
    padding-bottom: 5px;
}

.organization-list-title .search-form {
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.search-form .control-order-by select {
    width: 225px;
    margin: 0;
    border: 1px;
    background-color: #f2f2f2;
    color: black;
}

.search-form h2, .odsh-dataset-heading h2 {
    margin-top: 0px;
    font-size: 25px;
    color: #003064;
    font-weight: 300;
}

.module-content:first-child {
    padding-top: 0px;
}

.module-content {
    padding: 0;
}

.page-heading{
        font-size: 25px;
    color: #003064;
    font-weight: 300;
        border-bottom: 4px solid #dbdbdb;
    padding-bottom: 10px
}

input[type=radio], input[type=checkbox] {
    top: 0px;
}

.nav-simple>li {
    border-bottom: 0px;
    padding: 15px 0px 15px 8px;
}

@media (min-width: 768px){
    [role=main], .main {
	background: white;
    }

    .wrapper {
	background-image: none;
	background-repeat: no-repeat;
    }
}

.secondary {
    background-color: #f2f2f2;
}

.secondary.span3 {
    width: 210px;
    max-width: 210px;
    padding: 20px 16px 0px;
}

.primary {
    padding-left: 10px;
}

.primary.organization {
    padding-left: 0px;
}

.primary.span9 {
    width: 780px;
}

.wrapper {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
}

.karte_inner {
    background-color: lightgrey;
    height: 220px;
    margin-bottom: 20px;
}

.filter-reset {
    padding: 0px 0px 10px 0px;
}

.filter-reset-label {
    float: left;
}

.filter-reset-box {
    float: right;
    background-color: white;
    padding: 0px 10px 0px 10px;
}

.filter-reset-box a {
    color: black;
    font-size: 12px;
}

.filters section nav {
    border-top: 2px solid #DBDBDB;
}

.filters section nav .nav-title {
    padding: 15px 0px 0px 8px;
    font-size: 12px;
    color: black;
}

.nav-item .facet_label {
    display: block;
    float: left;
}

.nav-item .facet_label a{
    color: black;
}

.nav-item .facet_count {
    display: block;
    float: right;
    background-color: white;
    padding: 0px 2px 0px 2px;
}

.filter-checkbox {
    
}


/* checkbox customize trick, see: https://stackoverflow.com/questions/24322599/css-why-cannot-change-checkbox-color-whatever-i-do */
.facet_label input[type=checkbox] {
    display:none;
}

/* input[type=checkbox] + label.checkbox,  */
input[type=checkbox] + label.mylabel {
    background: #fff;
    border: 1px solid white;
    height: 8px;
    width: 8px;
    display: inline-block;
    padding: 0 0 0 0px;
    margin-bottom: 0px;
    min-height: 8px;
}
/* input[type=checkbox] + label.checkbox{

    border: 1px solid black;
} */

/* input[type=checkbox]:checked + label.checkbox,  */
input[type=checkbox]:checked + label.mylabel {
    background: url(/base/images/checked.png);
    background-color: #fff;
    background-size: 8px 8px;
    border: 1px solid black;
    height: 8px;
    width: 8px;
    min-height: 8px;
    display:inline-block;
    padding: 0 0px 0 0px;
    margin-bottom: 0px;

}
/* .checklabel .controls > .checkbox:first-child {
    padding-top: 0px;
} */
.checklabel input[type="checkbox"]
{
    float: inherit;
}

label.mylabel  {
    margin-right: 3px;
    margin-bottom: 0px;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}

label.mylabel::after {
    content: "";
}

/* following makes the secondary span (left side, facets etc.) the same height as the primary span */
/* see: https://scotch.io/bar-talk/different-tricks-on-how-to-make-bootstrap-columns-all-the-same-height */
.is-table-row {
    display: table;
}

.is-table-row [class*="span"] {
    float: none;
    display: table-cell;
    vertical-align: top;
}

.pill {
    background-color: #F6F7F9;
    border-radius: 0px;
    color:black;
    font-size: 12px;
    margin-right: 2px;
}

.pill a.remove {
    color: black;
    font-size: 10px;
    position: relative;
    top: -8px;
    right: -8px;    
}

.container-fluid.odsh-dataset-item {
    padding: 20px 0px 20px 0px;
    border-bottom: 2px solid #DBDBDB;
}

.organization-item{
    padding: 5px 0px 5px 0px;
    border-bottom: 2px solid #DBDBDB;
}

a .organization-item {
    color: black;
}
a:hover .organization-item ,a:focus .organization-item
{
    color:black;
    background-color: rgb(246,247,249);
}
a:hover.organization-item ,a:focus.organization-item
{
    text-decoration: none;
}

.organization-item .organization-item-text{
    vertical-align: middle;
}

.organization-item-text{
    padding-left: 10px;
    padding-right: 10px;
}

.dataset-content {
    float:left;
    width: 70%;
}

.dataset-heading {
    margin-right: 30px;
}

.dataset-empty {
    margin-right: 30px;
    color: darkgrey;
}

.dataset-meta {
    float:right;
    width: 30%;
}

ul.dataset-resources {
    margin: 0px 0px 10px 0px;
}

.dataformat-label {
    background-color: #1c355e !important;
    padding: 3px 3px 1px 3px;
    font-size: 14px;
    margin-right: 4px;
}

.dataset-stars {
    margin-bottom: 10px;
}

.odsh-star {
    margin-right: 5px;
    font-size: 20px;
    color: #1c355e;    
}

.dataformat-label:hover {
    background-color: #d7004d !important;
}

.dataset-info p {
    font-size: 12px;
    margin-bottom: 1px;
    color: black;
}

.breadcrumb>li a {
    font-weight: normal !important;
    font-size: 15px;
    color: #003064 !important;
}
.control-required {
    color: black;
}

label{
    font-size: 16px;
    font-weight: normal;
}

label:after {
    content: "";
}
.image-upload label:after {
    content: ": *";
}
.controls input,
.controls select,
.controls ul.select2-choices,
.controls textarea{
    background-color:  #F6F7F9;
    background-image: none;
    -webkit-box-shadow: none;
	-moz-box-shadow: none;
    box-shadow: none;
    border: 1px solid;
    border-color: #77879f;
    border-radius: 0;
    font-size: 14px;
    color:  #657592;
    font-style: italic
}

.control-group.error input,
.control-group.error .select2-choices,
.control-group.error textarea {
    border-color:#d4004b;  /* SH Rot */
}

.alert-danger, .alert-error {
    background-color: transparent;
    border-color:#d4004b;  /* SH Rot */
    color: #d4004b;  /* SH Rot */
    font-style: italic;
    border-radius: 0;
}

.control-label, .control-group.error .control-label, .control-group.error .help-block, .control-group.error .help-inline {
    color: black;
}

.input-prepend .add-on:first-child{
    border-radius: 0
}

.control-group.error .input-prepend .add-on
{
    border-color:#d4004b;  /* SH Rot */
    background-color: #F6F7F9;
}

.controls input[disabled]
{
    background-color:  #fdfdfd;
    border-color: #e7e9ee;
    color:  #e7e9ee;
}

.select2-default {
    color:  #657592!important;
}
.select2-container-multi .select2-choices .select2-search-choice{
    color:  #657592!important;
}

/* placeholders cannot be combined... */
.controls input::-webkit-input-placeholder {
    color:  #657592!important
}

.controls input::-webkit-input-placeholder {
    color:  #657592!important
}

.controls input::-moz-placeholder {
    color:  #657592!important
}

.controls input::-ms-placeholder {
    color:  #657592!important
}

.controls input::placeholder {
    color:  #657592!important
}

.controls textarea::-webkit-input-placeholder {
    color:  #657592!important
}

.controls textarea::-webkit-input-placeholder {
    color:  #657592!important
}

.controls textarea::-moz-placeholder {
    color:  #657592!important
}

.controls textarea::-ms-placeholder {
    color:  #657592!important
}

.controls textarea::placeholder {
    color:  #657592!important
}

.btn.btn-primary{
    background-image: none;
    background-color: #0089ca;
    border: none;
    border-radius: 0;
    font-size:18px;
    text-shadow: none;
    font-weight: normal;
    height: 40px;
    padding-left: 28px;
    padding-right: 28px;
    color:white;
}

.btn.btn-primary:hover{
    background-color: #333;
}

.btn {
    border-bottom-color: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    border-bottom-color: transparent;
    border: 1px solid #0089ca;
    background-image: none;
    background-color: white;
    text-shadow: none;
    padding: 9px 12px;
    color:#0089ca;
    font-weight: normal;
    font-size: 16px;
}

.image-upload .btn {
    color:white;
    background-color: #0089ca;
    background-color: #0089ca;
}

.btn-forget-password{
    background-color: white;
    font-size: 10pt;
    padding:2px 10px;
    margin-left: 2px;
    margin-top: 4px;
    display: inline-block;
}

/* remove icon in upload button */
.image-upload .fa-cloud-upload:before {
    content: unset;
}
.image-upload .fa-globe:before {
    content: unset;
}

.stages{
    margin: -15px 0px 20px 0px
}

.stages li{
    line-height: 20pt;
    padding: 0;
}

/* simple removing content destroys layout */
.stages li:before{
    content:'';
    background: none;
    background-color: transparent;
    width: 0px;
}

.stages li .highlight{
    padding: 10px 10px;   
    font-size: 9pt;
    line-height: 12pt;
}

.stages li.active .highlight {
    color: #ffffff;
    background: #003064;
}

/* .stages li.last.uncomplete::after, */
.stages li.uncomplete .highlight{
    color: #003064;
    background: #6683a2;
}

.stages li.last.uncomplete::after {
    border-bottom-color: #6683a2;
    border-top-color: #6683a2;
}

.stages li.complete .highlight{
    color: #003064;
    background: #6683a2;
}
.stages li.active:after{
    border-top-color: #003064;
    border-bottom-color: #003064;
}
.stages li.complete:after{
    border-top-color: #6683a2;
    border-bottom-color: #6683a2;
}

.stages :focus {
    outline: none
}

.form-actions{
    border: none;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.form-actions.resource-buttons{
    text-align: left;
}

.form-actions.resource-buttons .float-right{
    float: right;
}

.footer{
    background: white;
    height: 570px;
    color:white;
}
.footer .container{
    background: #d4004b;
}
.footer-content{
    width: 780px;
    padding-top: 445px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    font-weight: 500;
}
.footer-right{
    float: right;
}
.footer-icon{
    float: left;
    margin-right: 40px;
}

.footer-icon.last{
    float: right;
    margin-right: 0px;
}

.footer-first-row{
    height: 20px;
}

.footer-line{
    border-top: 1px dotted #e14c81;
    margin-bottom: 10px;
    margin-top: 20px;
}

.toolbar .breadcrumb li:after {
    content: "\f054";
    font-family: FontAwesome;
    padding: 0 0 0 5px;
    color: darkgray;
    font-size: 12pt;
    transform: scale(1, 1.5);
    display: inline-block;
 -webkit-transform: scale(0.6, 0.9); /* Safari and Chrome */
  -moz-transform: scale(1, 1.5); /* Firefox */
  -ms-transform: scale(1, 1.5); /* IE 9+ */
  -o-transform: scale(1, 1.5); /* Opera */
}

.create-dataset-form{
    width: 50%;}

.organization-image{
    height:150px;
    max-width: unset;
}

.primary.span12 {
    width: 100%;
}

.inline-error {
    color: #d4004b;
    margin-top: 5px;
}

.controls select {
    width: 100%;
}

.page-header {
    border: none;
}

.module .module-content {
    margin: 0px;
}

.info-detail {
    margin-bottom: 20px;
    font-size: 12px;
    color: black;
}

.odsh-dataset-heading {
    margin-bottom: 30px;
}

.odsh-dataset-heading .dataset-stars {
    margin-bottom: 5px;
}

.notes {
    margin-bottom: 30px;
}

.resource-list {
    margin: 0px;
}

.resource-item {
    background: #f2f2f2;
    margin-top: 10px;
    padding: 15px 15px 15px 15px;
}

.resource-dataformat-label {
    font-size: 18px;
    padding-top: 6px;
    padding-bottom: 6px;
    float: left;
}

.resource-title {
    float: left;
    margin-left: 5px;
    color: black;
}

.resource-description-container {
    margin-top: 8px;
}

.resource-description-container .description {
    line-height: 1.3;
    color: black;
}

.resource-title {
    cursor: pointer;
}

.resource-details-left {
    padding-right: 20px;
}

.resource-icons {
    font-size: 28px;
}

.resource-icons a {
    color: #1c355e;
}

.resource-icons a:hover {
    color: #d7004d;
    text-decoration: none;
}

.resource-item .container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
