/* css for header */

/* same width as schleswig-holstein.de */
.navbar-static-top .container {
    max-width: 960px;
    width: 100%;
}
.navbar-static-top .container.navigation-container{
    width: 100%;
    max-width: 1280px;
}

[class*="span"] {
    margin-left: 0px;
}

.row {
    margin-left: 0px;
}

.span3.span-navigation {
    width: auto;
}

.span9.span-navigation {
    width: auto;
    margin-right: 15px;
}

.header-image {
    padding-right: 0;
    position: relative;
    top: 0;
    padding: 1em 0;
}

.language-switch {
    float: right;
    background-color: #f2f2f2;
    padding: 6px 10px;
    margin-left: 20px;
    height: 44px; /* dirty fix to make it the same height as schleswig-holstein.de */
}

.language-switch ul {
    margin: 0;
    padding-left: 0;
    list-style-type: none;
}

.language-switch li {
    display: block;
    padding: 7px;
    float: left;
    line-height: 1.5;
}

.language-switch li a {
    color: #003064;
    padding: 5px;
    display: block;
}

.language-switch li a:hover {
    color: white;
    background: #011e5a;
}

.language-switch .navLeichteSprache {
    background: url(/base/images/sprite.png) no-repeat 6px -5557px;
    font: 0/0 serif;
    display: block;
    height: 20px;
    width: 20px;
    overflow: hidden;
}

.language-switch .navLeichteSprache:hover {
    background: #011e5a url(/base/images/sprite.png) no-repeat 6px -5334px;

}

.masthead .top-search-form {
    float:right;
    background: #f2f2f2;
    width: 15em;
    height: 56px; /* dirty fix to make it the same height as schleswig-holstein.de */    
}

.masthead .top-search-form .site-search {
    margin: 0;
    padding: 14px 15px 10px;
}

.masthead .site-search input {
    padding: 5px 8px 0;
}

.masthead {
    background: white;
}


.navigation-container {
    background: #f2f2f2;
    width: 100% !important;
    border-bottom: 15px solid #003064;
}

.navigation-row {
    width: 960px;
    padding-left: 0px;
    margin-left: auto;
    margin-right: auto;
}

.masthead .nav-collapse {
    float: left;
    padding-top: 0px;
    width: 100%;
}

.masthead .navigation {
     margin-right: 0px; 
}
.navbar .nav
{
    margin: 0px;
}

.masthead .navigation .nav-pills,
.masthead .navigation  {
    width: 100%;
}

.nav-pills li a:hover, .nav-pills li:hover {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    background-color: #003064 !important;
}

.masthead .navigation .nav-pills li:not(:first-child) {
    margin-left: 22px;
}

/* Default border to align font vertically to active navigation tab */
.masthead .navigation .nav-pills li {
    border-top: 2px solid #f2f2f2;
}

/* Change default border color on hover to background color (align font vertically to active navigation tab) */

.masthead .navigation .nav-pills li.open,
.masthead .navigation .nav-pills li:hover {
    border-top: 2px solid #003064;
}

/* The active navigation tab gets a differently coloured top-border */
.masthead .navigation .nav-pills li.active {
    border-top: 2px solid #003064;
}

/* Remove borders and get background color from parent (.navigation-container) */
.masthead .navigation .nav-pills li.active a {
    background-color: inherit;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    text-decoration: none;
}

/* Font color of navigation links (default) */
.masthead .nav>li>a:focus,
.masthead .nav>li>a, .masthead .nav>.active>a {
    padding: 16px 10px 19px;
    color: #003064;
    font-size: 1.125rem;
}

/* Font color of navigation links (hover) */
.masthead .nav>li:hover a {
    color: #ffffff;
    text-decoration: underline;
}

.masthead .navigation .nav-pills li.disabled a:hover, 
.masthead .navigation .nav-pills li.disabled
{
    pointer-events: none;
    cursor: default;
    background-color: rgb(242, 242, 242)!important;
    border-top: 2px solid rgb(242, 242, 242) ;
}
.masthead .navigation .nav-pills li.disabled span{
    color:rgba(0, 49, 102, 0.44);
}
.masthead .navigation .nav-pills li.disabled:hover{
    background-color: rgb(242, 242, 242)!important;
}

.masthead .navigation .nav-pills .dropdown 
{
}

.masthead .navigation .nav-pills .dropdown .dropdown-menu
{
    width: 190px;
}

.masthead .navigation .nav-pills .dropdown .dropdown-menu > li
{
    color:black;
    margin-left: 0px;
    padding:5px;
    border: none;
}

.masthead .navigation .nav-pills .dropdown .dropdown-menu > li > a:hover,
.masthead .navigation .nav-pills .dropdown .dropdown-menu > li:hover,
.masthead .navigation .nav-pills .dropdown .dropdown-menu > li:hover a
{
    color:white;
    background-color: #003064;
    cursor: pointer;
}

.masthead .navigation .nav-pills .dropdown .dropdown-menu > li > a
{
    color:white;
    color: #003064;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    background-image: none;
    display: inline-block;
}

.masthead .navigation .nav-pills li.dropdown.open,
.masthead .navigation .nav-pills li.dropdown.open > a.dropdown-toggle:hover,
.navbar .nav li.dropdown.open > .dropdown-toggle
{
    background-color: #003064;
    color: white;
} 

.masthead .navigation .nav-pills .dropdown img
{
    height: 2.5em;
    vertical-align: middle;
}

.masthead .navigation .nav-pills li.dropdown
{
    float: right;
}

.masthead .navigation .nav-pills li.dropdown > .dropdown-toggle
{
    padding-bottom: 12px;
    padding-top: 12px;
}

.user-icon
{
    fill:#003064;
    height: 30px;
    width: 30px;
    margin-top: -5px;
    vertical-align: middle;
    position: relative;
}

.user-icon-small
{
    fill:#003064;
    height: 16px;
    width: 16px;
    vertical-align: middle;
    position: relative;
}

.masthead .navigation .nav-pills .dropdown .dropdown-menu > li:hover .user-icon-small,
.user-icon-small:hover{
    fill:white;
}

.masthead .navigation .nav-pills li.open .user-icon,
.masthead .navigation .nav-pills li a:hover .user-icon
{
    fill:white;
}