{% extends "package/read_base.html" %}

{% set pkg = c.pkg_dict %}
{% set collection = h.get_collection(pkg) %}
{% set collection_title = collection['title'] if collection else None %}
{% set collection_url = collection['url'] if collection else None %}
{% set successor_url = collection['successor']['url'] if collection else None %}
{% set predecessor_url = collection['predecessor']['url'] if collection else None %}
{% set latest_collection_member = collection['persistent_link_last_member'] if collection else None %}
{% set stars = h.odsh_openness_score_dataset_html(pkg) %}

{% block breadcrumb_content %}
{% if pkg %}
{% set dataset = h.dataset_display_name(pkg) %}
{% if pkg.organization %}
{% set organization = h.get_translated(pkg.organization, 'title') or pkg.organization.name %}
<li>{% link_for organization|truncate(30), controller='organization', action='read', id=pkg.organization.name %}</li>
{% else %}
<li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
{% endif %}
<li {{ self.breadcrumb_content_selected() }}>{% link_for dataset|truncate(30), controller='package', action='read',
  id=pkg.name %}</li>
{% else %}
<li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
<li class="active"><a href="">{{ _('Create Dataset') }}</a></li>
{% endif %}
{% endblock breadcrumb_content %}

{% block primary_content_inner %}
{{ super() }}
{% block package_description %}
<div class="odsh-dataset-heading">
  <h2>
    {% block page_heading %}
    {{ h.dataset_display_name(pkg) }}
    {% if pkg.state.startswith('draft') %}
    [{{ _('Draft') }}]
    {% endif %}
    {% if pkg.state == 'deleted' %}
    [{{ _('Deleted') }}]
    {% endif %}
    {% endblock page_heading %}
    <div class="odsh-dataset-edit-button">
      {% if h.check_access('package_update', {'id':pkg.id }) %}
      <div>
        {% link_for _('Manage Dataset'), controller='package', action='edit', id=pkg.name, class_='btn btn-primary btn-add-dataset',
        icon='wrench' %}
      </div>
      {% endif %}
      {% if pkg.private %}
      <span class="dataset-private label label-inverse">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
      </span>
      {% endif %}
    </div>
  </h2>
  <div class="dataset-stars">
  {% if stars>-1%}
    {% snippet "qa/stars.html", stars=stars %}
  {% endif %}
  </div>
  {% if h.check_access('package_update', {'id':pkg.id }) %}
  {% endif %}
</div>
{# {{ pkg.resources }} #}

{% block package_notes %}
<div class="btn btn-primary btn-lg show-filters" role="button">
    <img src="/base/images/icon_info.svg" aria-hidden="true"></img>
    {{ _('Detailinformationen') }}
</div>
{% if successor_url %}
<p class="hint-newer-version">
    Hinweis: Es ist eine <a href="{{ latest_collection_member }}">
    neuere Version</a> dieses Datensatzes verfügbar.
</p>
{% endif %}
{% if pkg.notes %}
<div class="notes embedded-content">
  {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
</div>
{% endif %}
{% endblock package_notes %}
{% endblock package_description %}

{% block package_resources %}
{% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
      <div class='add-resource-container'>
        {% link_for _('Add new resource'), controller='package', action='new_resource', id=c.pkg_dict.name, class_='btn btn-primary', icon='plus' %}
      </div>
  {% endif %}
{% endblock package_resources %}

{% block collection %}
{% if latest_collection_member %}
<section id="dataset-collection">
    {% if collection_title %}
    <p>
        Dieser Datensatz ist Bestandteil der <a href={{ collection_url }}>Reihe "{{ collection_title }}"</a>.
        Sie können zu älteren und neueren Datensätzen blättern.
    </p>
    {% endif %} {# collection_title #}
    <div class="button-container">
        <a href="{{ latest_collection_member }}" class="btn btn-primary btn-lg" role="button">
            <img src="/base/images/icon_latest.svg" aria-hidden="true"></img>
            <span class="hide-on-mobile">{{ _('latest collection member') }}</span>
        </a>
        {% if predecessor_url %} 
        <a href="{{ predecessor_url }}" class="btn btn-primary btn-lg" role="button">
            <img src="/base/images/icon_arrow_left.svg" aria-hidden="true"></img>
            <span class="hide-on-mobile">{{ _('predecessor') }}</span>
        </a>
        {% else %}
        <a href="#" class="btn btn-primary btn-lg disabled" role="button">
            <img src="/base/images/icon_arrow_left.svg" aria-hidden="true"></img>
            <span class="hide-on-mobile">{{ _('predecessor') }}</span>
        </a>
        {% endif %}  
        {% if successor_url %}
        <a href="{{ successor_url }}" class="btn btn-primary btn-lg" role="button">
            <span class="hide-on-mobile">{{ _('successor') }}</span>
            <img src="/base/images/icon_arrow_right.svg" aria-hidden="true"></img>
        </a>
        {% else %}
        <a href="#" class="btn btn-primary btn-lg disabled" role="button">
            <span class="hide-on-mobile">{{ _('successor') }}</span>
            <img src="/base/images/icon_arrow_right.svg" aria-hidden="true"></img>
        </a>
        {% endif %}
    </div>
</section>
{% endif %} {# latest_collection_member #}
{% endblock collection %}


<div class='tag-container'>
{% for tag in pkg.tags %}
    <div class='tag-pill'>
      {{h.tag_link(tag)}}
    </div>
{% endfor %}
</div>

{% endblock primary_content_inner %}

