{% ckan_extends %}

{% block content_primary_nav %}
{% endblock %}

{% block content_action %}
{% endblock %}

{% block secondary_content %}

{% block package_organization %}
{% snippet "package/snippets/close_mobile_sidebar_button.html" %}
{% if pkg.organization %}
{% set org = h.get_organization(pkg.organization.name) %}
{% snippet "snippets/organization.html", package=pkg, organization=org, has_context_title=true, hide_description=true %}
{% endif %}
{% endblock %}

{% block secondary_help_content %}{% endblock %}

{% block package_info %}
{% snippet 'package/snippets/info.html', pkg=pkg %}
{% endblock %}


{% block package_social %}
{% endblock %}

{% block package_license %}
{% endblock %}

{% block spatial_map %}
{% endblock %}

{% endblock %}