{% extends "package/read_base.html" %}

{% set pkg = c.pkg_dict %}


{% set stars = h.odsh_openness_score_dataset_html(pkg) %}

{% block breadcrumb_content %}
{% if pkg %}
{% set dataset = h.dataset_display_name(pkg) %}
{% if pkg.organization %}
{% set organization = h.get_translated(pkg.organization, 'title') or pkg.organization.name %}
<li>{% link_for organization|truncate(30), controller='organization', action='read', id=pkg.organization.name %}</li>
{% else %}
<li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
{% endif %}
<li {{ self.breadcrumb_content_selected() }}>{% link_for dataset|truncate(30), controller='package', action='read',
  id=pkg.name %}</li>
{% else %}
<li>{% link_for _('Datasets'), controller='package', action='search' %}</li>
<li class="active"><a href="">{{ _('Create Dataset') }}</a></li>
{% endif %}
{% endblock %}

{% block primary_content_inner %}
{{ super() }}
{% block package_description %}
<div class="odsh-dataset-heading row-fluid">
  <h2>
    {% block page_heading %}
    {{ h.dataset_display_name(pkg) }}
    {% if pkg.state.startswith('draft') %}
    [{{ _('Draft') }}]
    {% endif %}
    {% if pkg.state == 'deleted' %}
    [{{ _('Deleted') }}]
    {% endif %}
    {% endblock %}
    <div class="pull-right">
      {% if h.check_access('package_update', {'id':pkg.id }) %}
      <div>
        {% link_for _('Manage Dataset'), controller='package', action='edit', id=pkg.name, class_='btn btn-primary btn-add-dataset',
        icon='wrench' %}
      </div>
      {% endif %}
      {% if pkg.private %}
      <span class="dataset-private label label-inverse">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
      </span>
      {% endif %}
    </div>
  </h2>
  <div class="dataset-stars">
  {% if stars>-1%}
    {% snippet "qa/stars.html", stars=stars %}
  {% endif %}
  </div>
  {% if h.check_access('package_update', {'id':pkg.id }) %}
  {% endif %}
</div>
{# {{ pkg.resources }} #}
{% block package_notes %}
{% if pkg.notes %}
<div class="notes embedded-content">
  {{ h.render_markdown(h.get_translated(pkg, 'notes')) }}
</div>
{% endif %}
{% endblock %}
{# FIXME why is this here? seems wrong #}
<span class="insert-comment-thread"></span>
{% endblock %}

{% block package_resources %}
{% snippet "package/snippets/resources_list.html", pkg=pkg, resources=pkg.resources %}
  {% if h.check_access('package_update', {'id':pkg.id }) %}
      <div class='add-resource-container'>
        {% link_for _('Add new resource'), controller='package', action='new_resource', id=c.pkg_dict.name, class_='btn btn-primary', icon='plus' %}
      </div>
  {% endif %}
{% endblock %}

<div class='tag-container'>
{% for tag in pkg.tags %}
    <div class='tag-pill'>
      {{h.tag_link(tag)}}
    </div>
{% endfor %}
</div>

{% endblock %}