{% ckan_extends %}

{% block page_primary_action %}
{% endblock %}

{% block package_search_results_list %}
{{ h.snippet('snippets/package_list.html', packages=c.page.items) }}
{% endblock %}


##
## tools on left side, ie filter
{% block secondary_content %}
<div class="filters">
    <div>
        {% for facet in c.facet_titles %}
        {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
        {% endfor %}
    </div>
    <a class="close no-text hide-filters"><i class="fa fa-times-circle"></i><span class="text">close</span></a>
</div>
{% endblock %}
{% block package_search_results_api %}
{% endblock %}