{% ckan_extends %}



{% block toolbar %}
{{ super() }}
<form id='dataset-search-box-form' class="section site-search simple-input" action="{% url_for controller='package', action='search' %}"
    method="get" data-module="select-switch">
{% snippet "snippets/search_box.html"%}
{% endblock %}

{% block primary_content %}
  <section class="module">
    <div class="module-content">
      {% block page_primary_action %}
      {% endblock %}
      {% block form %}
        {% set facets = {
          'fields': c.fields_grouped,
          'search': c.search_facets,
          'titles': c.facet_titles,
          'translated_fields': c.translated_fields,
          'remove_field': c.remove_field }
        %}
        {% set sorting = [
          (_('Relevance'), 'score desc, metadata_modified desc'),
          (_('Name Ascending'), 'title_string asc'),
          (_('Name Descending'), 'title_string desc'),
          (_('Issued Ascending'), 'extras_issued asc'),
          (_('Issued Descending'), 'extras_issued desc'),
          (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
        %}
        {% snippet 'snippets/search_form.html', form_id='dataset-search-form', type='dataset', query=c.q, sorting=sorting, sorting_selected=c.sort_by_selected, count=c.page.item_count, facets=facets, show_empty=request.params, error=c.query_error, fields=c.fields %}
      {% endblock %}
      {% block package_search_results_list %}
        {{ h.snippet('snippets/package_list.html', packages=c.page.items) }}
      {% endblock %}
    </div>

    {% block page_pagination %}
    {{ c.page.pager(q=c.q,symbol_next='>') }}
    {% endblock %}
  </section>

  {% block package_search_results_api %}
  {% endblock %}
{% endblock %}


{% block secondary_content %}
<div class="filters">
  <div class="container-fluid filter-reset">
    <div class="filter-reset-label"><span>Filter:</span></div>
    <div class="filter-reset-box"><a href="{{h.url_for(controller='package', action='search')}}">zurücksetzen</a></button></div>
  </div>
</div>
{% snippet "snippets/map.html",
default_extent="{ \"type\": \"Polygon\", \"coordinates\": [[[7.6574,53.1632],[11.8322,53.1632],[11.8322,55.1066],
[7.6574,55.1066],[7.6574,53.1632]]] }"%}
<div class="filters">
  <div>
    {% for facet in c.facet_titles %}
    {{ h.snippet('snippets/facet_list.html', title=c.facet_titles[facet], name=facet) }}
    {% endfor %}
  </div>

  {% block datereange_search %}
  {% set has_range_filter = request.params.get('ext_startdate') or request.params.get('ext_enddate') %}
  <section class="module module-narrow module-shallow">
    <nav>
      <div class="nav-title">{{_('timerange')}}</div>
      <div class="rangesearch-controls">
          {% import 'macros/form.html' as form %}
          {% resource 'odsh/moment.js' %}
          {% resource 'odsh/datepicker.css' %}
          {% resource 'odsh/bootstrap-datepicker.js' %}
          {% resource 'odsh/odsh_datepicker.js' %}
          <div class='controls rangesearch' >
            {%- set start = request.params['ext_startdate'] -%}
            {%- set start_error = h.odsh_render_datetime(start, False) == '' and start -%}
            {%- set end = request.params['ext_enddate'] -%}
            {%- set end_error = h.odsh_render_datetime(end, False) == '' and end -%}
            {%- set typeStart = 'text' if (start_error or not start) else 'date' -%}
            {%- set typeEnd = 'text' if (end_error or not end) else 'date' -%}
            <label for="ext_startdate">{{_('from')|title}}</label>
	          {% snippet 'snippets/datepicker.html', id='ext_startdate', value=start, class='rangesearch', placeholder=_('Date') %}
              {%if start_error %}
                <div class="error-reange-search">
                    {{_('wrong_start_date_for_search')}}
                </div>
              {%endif%}
            <label for="ext_enddate">{{_('to')|title}}</label>
	          {% snippet 'snippets/datepicker.html', id='ext_enddate', value=end, class='rangesearch', placeholder=_('Date') %}
              {%if end_error %}
                <div class="error-reange-search">
                    {{_('wrong_end_date_for_search')}}
                </div>
              {%endif%}
            <a class='pull-right' href="javascript:{}" onclick="$('#dataset-search-box-form').submit();" class="action">{{_('submit date search') }}</a>
          </div>
      </div>
    </nav>
  </section>
  {% endblock %}

</div>
{% endblock %}

{% block pre_wrap %}
</form>
{% endblock %}