{#
Renders a set of stars for the current dataset or if it has none a string
explaining the reason.

stars  - The number of stars assigned to the dataset.
reason - A reason why the dataset doesn't have a rating.

{% snippet "qa/stars.html", stars=4 %}

#}
{% set short_texts=['', ': OL', ': RE', ': OF', ': URI', ': LD'] %}
{% set texts=['OL = offene Lizenz', 'RE = maschinenlesbar', 'OF = offenes Format', 'URI = verwendet URIs', 'LD = Linked Data'] %}
<span class="star-rating{% if stars == 0 %} no-stars{% endif %}">
{% resource 'odsh/odsh_popover.js' %}
  {%- if stars == None -%}
  {{ reason }}
  {%- else -%}
  <span class="star-rating-stars">
    {%- for index in range(stars) -%}
    <div class='odsh-star-wrap'>
      <a tabindex="0" data-module="odsh_popover" data-module-text='{{texts[index]}}' role="button" data-toggle="popover" data-trigger="focus" class="odsh-star">
              <img  src='/base/images/opendata-{{index+1}}.svg'/>
      </a>
    </div>
    {%- endfor -%}
    {%- for index in range(5-stars) -%}
    <div class='odsh-star-wrap'>
            <img src='/base/images/opendata-empty.svg'/>
    </div>
    {%- endfor -%}
    {%- if stars == 0 -%}
    {# 0 stars looks awfully like 5 stars, so be explicit #}
    {# {{ _("{0} out of {1}").format(stars, 5) }} #}
    {%- endif -%}
  </span>
  {%- endif -%}
    <div class='odsh-star-wrap'>
      <a tabindex="0" data-module="odsh_popover" data-module-trigger='custom' data-module-text="{{stars}} Sterne{{short_texts[stars]}}<br><a target='_blank' href='https://5stardata.info/de/'>5-Sterne-Modell für Offene Daten</a>" role="button" data-toggle="popover" data-trigger="focus" class="odsh-star">
          <i class="fa fa-info odsh-star-info"></i>
      </a>
    </div>
</span>
