{#
Displays a sidebard module with information for given package

pkg - The package dict that owns the resources.

Example:

{% snippet "package/snippets/info.html", pkg=pkg %}

#}
{% block package_info %}
{% if pkg %}
<section class="module module-narrow">
    <div class="module context-info">
        <div class="module-content">
            {% block package_info_inner %}
            {% block heading %}
            {% endblock %}

            {% block groups %}
            <div class="groups-detail info-detail">
                <div>{{ _('Kategorie') }}:</div>
                {{ pkg.groups|map(attribute='display_name')|join('; ') }}
                {% if h.check_access('package_update', {'id':pkg.id }) %}
                <div>
                    {% link_for _('Edit Categories'), controller='package', action='groups', id=pkg.name,
                    class_='btn btn-edit-categories', icon='wrench' %}
                </div>
                {% endif %}
            </div>
            {% endblock %}

            {% block nums %}
            {% endblock %}

            {% block tags %}
            <div class="tags-detail info-detail">
                <div>{{ _('Tags') }}:</div>
                <p>{{ pkg.tags|map(attribute='display_name')|join('; ') or '-'}}</p>
            </div>
            {% endblock %}

            {% block license %}
            <div class="license-detail info-detail">
                <div>{{ _('License') }}:</div>
                {%set lic=pkg.license_title if pkg.license_title else '-'%}
                {%set licenseAttributionByText = h.odsh_extract_value_from_extras(pkg.extras,'licenseAttributionByText') %}
                {%set name=' (' + licenseAttributionByText +')' if licenseAttributionByText else ''%}
                <p>{{ lic }}{{ name }}</p>
            </div>
            {% endblock %}

            {% block timerange %}
            <div class="timerange-detail info-detail">
                <div>{{ _('timerange') }}:</div>
                {% set temporal_start = h.odsh_extract_value_from_extras(pkg.extras,'temporal_start') %}
                {% set temporal_end = h.odsh_extract_value_from_extras(pkg.extras,'temporal_end') %}
                {%set start=h.odsh_render_datetime(temporal_start) if temporal_start else ''%}
                {%set end=h.odsh_render_datetime(temporal_end) if temporal_end else ''%}
                <p>{{ start }} - {{ end }}</p>
            </div>
            {% endblock %}

            {% block last_change %}
            <div class="last-change-detail info-detail">
                {% set value = h.odsh_extract_value_from_extras(pkg.extras,'issued')%}
                {% set issued = h.odsh_render_datetime(value) if value else h.odsh_render_datetime(pkg.metadata_created)%} 
                <div>{{ _('issued') }}:</div>
                {{issued}}
            </div>
            {% endblock %}

            {% endblock %}
        </div>
        {% set map_text = h.odsh_get_spatial_text(pkg) %}
        <div class="spatial-detail info-detail">
            <div>{{ _('Spatial uri') }}:</div>
            {%set ext=map_text if map_text else '-'%}
            <p>{{ ext }}</p>
        </div>
        {% set dataset_extent = h.get_pkg_dict_extra(c.pkg_dict, 'spatial', '') %}
        {% if dataset_extent %}
        <section class="module module-narrow dataset-map">
            {% snippet "spatial/snippets/dataset_map_base.html", extent=dataset_extent %}
        </section>
        {% endif %}
        {% block spatial_info %}
        <div class="info-detail">
            {% set bbox = h.odsh_get_bounding_box(pkg) %}
            {% if bbox%}
            <div>{{ _('borders of map') }}:</div>
            <p> {{ '{0:0.3f}'.format(bbox[0]).zfill(2).replace('.',',') }}° {{_('in east')}}</p>
            <p> {{ '{0:0.3f}'.format(bbox[1]).replace('.',',') }}° {{_('in west')}}</p>
            <p> {{ '{0:0.3f}'.format(bbox[2]).replace('.',',') }}° {{_('in north')}}</p>
            <p> {{ '{0:0.3f}'.format(bbox[3]).replace('.',',') }}° {{_('in south')}}</p>
            {% endif %}
        </div>
        {% endblock %}
        {% block social_nav %}
        <div class="info-detail">
            {% set current_url = h.odsh_encodeurl(h.full_current_url()) %}
            <p>{{ _('share this dataset')}}:</p>
            <div class="share-links">
                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{current_url}}" target="_blank"><img class='' src="/base/images/Icon-linkedin.png"/></a>
                <a href="https://www.xing.com/app/user?op=share&url={{ current_url }}" target="_blank"><img class='' src="/base/images/Icon-xing.png"/></a>
                <a href="https://www.facebook.com/sharer.php?href={{ current_url }}" target="_blank"><img class='' src="/base/images/Icon-facebook.png"/></a>
                <a href="https://twitter.com/share?url={{ current_url }}" target="_blank"><img class='' src="/base/images/Icon-twitter.png"/></a>
                <a href="mailto:?body={{ current_url }}" target="_blank"><img class='' src="/base/images/Icon-mail.png"/></a>
            </div>
        </div>
        {% endblock %}
</section>
{% endif %}
{% endblock %}