{% import 'macros/form.html' as form %}
{% resource 'odsh/bootstrap-multiselect.js' %}
{% resource 'odsh/multiselect.js' %}

{% set temporal_start_label='Beginn des Zeitraumes' %}
{% set temporal_end_label='Ende des Zeitraumes' %}
{% set multiselect_nonSelectedText='keine' %}
{% set multiselect_allSelectedText='alle' %}
{% set multiselect_nSelectedText='gewählt' %}
{% set groups_label='Kategorien'%}

{% block package_metadata_fields %}

<div class="control-group">
    <label for="field-groups" class="control-label">{{ groups_label }}</label>
    <div class="controls">
        <select id="field-groups" name="group_added" multiple="multiple" data-module="odsh_multiselect"
            data-module-nonSelectedText="{{multiselect_nonSelectedText}}" data-module-allSelectedText="{{multiselect_allSelectedText}}"
            data-module-nSelectedText="{{multiselect_nSelectedText}}">
            {% for option in h.groups_available()%}
            <option value="{{ option['id'] }}"> {{ option['display_name'] }}</option>
            {% endfor %}
        </select>
    </div>
</div>


{{ form.input('temporal_start', id='field-temporal-start', label=temporal_start_label, value=data.temporal_start,
error=errors.title, classes=['control-full'],type='date') }}
{{ form.input('temporal_end', id='field-temporal-end', label=temporal_end_label, value=data.temporal_end,
error=errors.title, classes=['control-full'],type='date') }}

<div class="control-group">
    <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
    <div class="controls">
        <select id="field-private" name="private">
            {% for option in [('True', _('Private')), ('False', _('Public'))] %}
            <option value="{{ option[0] }}" {% if option[0]==data.private|trim %}selected="selected" {% endif %}>{{
                option[1] }}</option>
            {% endfor %}
        </select>
    </div>
</div>

{% endblock %}