{% import 'macros/form.html' as form %}
{% resource 'odsh/bootstrap-multiselect.js' %}
{% resource 'odsh/odsh_form.js' %}

<!-- field title -->
{% block package_basic_fields_title %}
{{ form.input('title', id='field-title', label=_('Title'), value=data.title,
error=errors.title, classes=['control-full', 'control-large'], attrs={'data-module': 'slug-preview-target'}) }}
{% endblock %}

{% block package_basic_fields_url %}
{% set prefix = h.url_for(controller='package', action='read', id='') %}
{% set domain = h.url_for(controller='package', action='read', id='', qualified=true) %}
{% set domain = domain|replace("http://", "")|replace("https://", "") %}
{% set attrs = {'data-module': 'slug-preview-slug', 'data-module-prefix': domain, 'data-module-placeholder': '<dataset>'}
    %}

    <!-- field name -->
    {{ form.prepend('name', id='field-name', label=_('URL'), prepend=prefix,
    value=data.name, error=errors.name, attrs=attrs, is_required=true) }}
    {% endblock %}

    <!-- field notes -->
    {% block package_basic_fields_description %}
    {{ form.markdown('notes', id='field-notes', label=_('Description'), value=data.notes,
    error=errors.notes, is_required=true) }}
    {% endblock %}


    <!-- field license -->
    {% block package_basic_fields_license %}
    <div class="control-group">
        {% set error = errors.license_id %}
        <label class="control-label" for="field-license">
            <span title="{{ _("This field is required") }}" class="control-required">*</span>
            {{ _("License") }}
        </label>
        <div class="controls">
            <select id="field-license" name="license_id">
                {% set existing_license_id = data.get('license_id') %}
                {% for license_id, license_desc in h.license_options(existing_license_id) %}
                <option value="{{ license_id }}" {% if existing_license_id==license_id %}selected="selected" {% endif
                    %}>{{ license_desc }}</option>
                {% endfor %}
            </select>
            {% if error %}<span class="error-block">{{ error }}</span>{% endif %}
        </div>
    </div>

    <!-- field Namensnennung -->
    {% set access_constraints_label='Text für Namensnennung'%}
    {{ form.input('access_constraints', id='field-licence-name', label=access_constraints_label,
    value=data.access_constraints,
    error=errors.access_constraints, classes=['control-full'],type='text',is_required=true,attrs={'disabled':true,
    'data-module':"odsh_form", 'data-module-licensetoggle':'true' }) }}
    {% endblock %}

    <!-- field publish date -->
    {% set publish_date_value=h.odsh_now() %}
    <!-- if form_style != 'edit' && !%} -->
    <!-- value=data.get('extras').publish_date, -->
    {% set publish_date_label='Veröffentlichungsdatum'%}
    {{ form.input('publish_date', id='field-publish-date', label=publish_date_label,
    value=publish_date_value,
    error=errors.publish_date, classes=['control-full'],type='date',is_required=true) }}

    <!-- field groups -->
    <div class="control-group">
        {% set groups_label='Kategorien'%}
        {% set multiselect_nonSelectedText='keine' %}
        {% set multiselect_allSelectedText='alle' %}
        {% set multiselect_nSelectedText='gewählt' %}
        {% set spatial_extension_label='räumliche Ausdehnung'%}
        <!-- {% set error = errors.groups %} -->
        <label for="field-groups" class="control-label">
            <span title="{{ _("This field is required") }}" class="control-required">*</span>
            {{ groups_label }}
        </label>
        <div class="controls">
            {% set existing_groups = data.get('groups') %}
            <select id='field-groups' name="groups" multiple="multiple" data-module="odsh_form" data-module-multiselect='true'
                data-module-nonSelectedText="{{multiselect_nonSelectedText}}" data-module-allSelectedText="{{multiselect_allSelectedText}}"
                data-module-nSelectedText="{{multiselect_nSelectedText}}">
                {% for option in h.groups_available()%}
                <option value={{option.id}} {% if h.odsh_group_id_selected(data.groups,option['id']) %}selected="selected"
                    {% endif %}>
                    {{ option['display_name'] }}</option>
                {% endfor %}
            </select>
            <!-- {% if error %}<span class="error-block">{{ error}}</span>{% endif %} -->
        </div>
    </div>

    <!-- field tags -->
    {% block package_basic_fields_tags %}
    {% set tag_attrs = {'data-module': 'autocomplete', 'data-module-tags': '', 'data-module-source':
    '/api/2/util/tag/autocomplete?incomplete=?'} %}
    {{ form.input('tag_string', id='field-tags', label='Schlagwörter', value=data.tag_string, error=errors.tags,
    classes=['control-full'], attrs=tag_attrs,
    is_required=true) }}
    {% endblock %}
    {% block package_basic_fields_org %}
    {# if we have a default group then this wants remembering #}
    {% if data.group_id %}
    <input type="hidden" name="groups__0__id" value="{{ data.group_id }}" />
    {% endif %}

    {% set dataset_is_draft = data.get('state', 'draft').startswith('draft') or data.get('state', 'none') == 'none' %}
    {% set dataset_has_organization = data.owner_org or data.group_id %}
    {% set organizations_available = h.organizations_available('create_dataset') %}
    {% set user_is_sysadmin = h.check_access('sysadmin') %}
    {% set show_organizations_selector = organizations_available %}
    {% set show_visibility_selector = dataset_has_organization or (organizations_available and (user_is_sysadmin or
    dataset_is_draft)) %}
    {% set existing_org = data.owner_org or data.group_id %}

    <div class="control-group">
        <label for="field-organizations" class="control-label">{{ _('Organization') }}</label>
        <div class="controls">
            <select id="field-organizations" name="owner_org" data-module="autocomplete">
                {% if h.check_config_permission('create_unowned_dataset') %}
                <option value="" {% if not selected_org and data.id %} selected="selected" {% endif %}>{{ _('No
                    organization') }}</option>
                {% endif %}
                {% for organization in organizations_available %}
                {# get out first org from users list only if there is not an existing org #}
                {% set selected_org = (existing_org and existing_org == organization.id) or (not existing_org and not
                data.id and organization.id == organizations_available[0].id) %}
                <option value="{{ organization.id }}" {% if selected_org %} selected="selected" {% endif %}>{{
                    organization.display_name }}</option>
                {% endfor %}
            </select>
        </div>
    </div>

    <!-- field spatial_extension -->
    {{ form.input('spatial_extension', id='field-spatial-extension', label=spatial_extension_label,
    value=data.spatial_extension,
    error=errors.spatial_extension, classes=['control-full'],type='text',is_required=true) }}

    <!-- field temporal_start -->
    {% set temporal_start_label=_('odsh_temporal_start_label') %}
    {{ form.input('temporal_start', id='field-temporal-start', label=temporal_start_label, value=data.temporal_start,
    error=errors.temporal_start, classes=['control-full'],type='date',is_required=true) }}

    <!-- field temporal_end -->
    {% set temporal_end_label='Ende des Zeitraumes' %}
    {{ form.input('temporal_end', id='field-temporal-end', label=temporal_end_label, value=data.temporal_end,
    error=errors.temporal_end, classes=['control-full'],type='date',is_required=true) }}

    <!-- field private -->
    <div class="control-group">
        <label for="field-private" class="control-label">{{ _('Visibility') }}</label>
        <div class="controls">
            <select id="field-private" name="private">
                {% for option in [('True', _('Private')), ('False', _('Public'))] %}
                <option value="{{ option[0] }}" {% if option[0]==data.private|trim %}selected="selected" {% endif %}>{{
                    option[1] }}</option>
                {% endfor %}
            </select>
        </div>
    </div>


    {% if data.id and h.check_access('package_delete', {'id': data.id}) and data.state != 'active' %}
    <div class="control-group">
        <label for="field-state" class="control-label">{{ _('State') }}</label>
        <div class="controls">
            <select id="field-state" name="state">
                <option value="active" {% if data.get('state', 'none' )=='active' %} selected="selected" {% endif %}>{{
                    _('Active') }}</option>
                <option value="deleted" {% if data.get('state', 'none' )=='deleted' %} selected="selected" {% endif %}>{{
                    _('Deleted') }}</option>
            </select>
        </div>
    </div>
    {% endif %}

    {% endblock %}