{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}

{# hack for correcting slave url if resource was uploaded #}
{% if res.url_type=='upload' %}
{% set download = url or res.url%}
{% else %}
{% set download = res.url or ulr%}
{% endif %}
{% set res_details = h.odsh_get_resource_details(res.id) %}

<li class="resource-item" data-id="{{ res.id }}">

  <div class="container-fluid">
    <div class="row">
      <div class="span8 resource-details-left">
        <div class="row resource-title-container">
        {% set rtitle=h.resource_display_name(res) if res.name else ' '%}
          <div class="resource-title" title="{{ rtitle }}">
        {% if res.name %}
        <a href="{{ download }}">
            {{ h.resource_display_name(res) }}
        </a>
        {% endif %}
          </div>
        </div>
        <div class="row resource-description-container">
        </div>
      <div class="resource-icons">
        {% block resource_item_explore_links %}
        <a href="{{ download }}">
          <div class="icon icon-download"></div>
        </a>
        {% if can_edit %}
        <a href="{{ h.url_for(controller='package', action='resource_edit', id=pkg.name, resource_id=res.id) }}">
          <div class="icon icon-edit"></div>
        </a>
        {% endif %}
        {% endblock %}
      </div>
      </div>
      {% if(res.format) %}
        <a href="{{ download }}">
          <div class="dataformat-label resource-dataformat-label label" style='font-size:{{150/(res.format|length)}}px'>{{res.format}}</div>
        </a>
      {% endif %}
    </div>
  </div>

</li>