{#
Displays a sidebard module with information for given resource

res - The respource dict

Example:

{% snippet "package/snippets/resrouce_info.html", res=res %}

#}
<div class="module context-info">
    <div class="module-content">
            <div class="info-detail">
                <div>{{ _('dataset') }}:</div>
                    {{ h.dataset_display_name(pkg) }}
            </div>
            <div class="info-detail">
                <div>{{ _('Name Resource') }}:</div>
                    {{ res.name }}
            </div>
            <div class="info-detail">
                <div>{{ _('Resource count') }}:</div>
                    {{ pkg.resources|count}}
            </div>
            <div class="info-detail">
                <div>{{ _('Format') }}:</div>
                    <div class="label dataformat-label">{{res.format}}</div>
            </div>
    </div>
</div>