{% set url_action = 'resource_edit' if url_is_edit and can_edit else 'resource_read' %}
{% set url = h.url_for(controller='package', action=url_action, id=pkg.name, resource_id=res.id) %}

{% set res_details = h.odsh_get_resource_details(res.id) %}

<li class="resource-item" data-id="{{ res.id }}">

  <div class="container-fluid">
    <div class="row">
      <div class="span8 resource-details-left">
        <div class="row resource-title-container">
          <div class="dataformat-label resource-dataformat-label label">{{res.format}}</div>
          <div class="resource-title" title="{{ h.resource_display_name(res) }}">
            {{ h.resource_display_name(res) }}
          </div>
        </div>
        <div class="row resource-description-container">
          <p class="description">
            {% if res.description %}
            {{ h.markdown_extract(h.get_translated(res, 'description'))}}
            {% endif %}
          </p>
        </div>
      </div>
      <div class="resource-icons">
        {% block resource_item_explore_links %}
        <a href="{{ res.url or url }}">
          <div class="icon icon-download"></div>
        </a>
        {% if can_edit %}
        <a href="{{ h.url_for(controller='package', action='resource_edit', id=pkg.name, resource_id=res.id) }}">
          <div class="icon icon-edit"></div>
        </a>
        {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>

</li>