{% extends "page.html" %}
{% set homepage_style = ( g.homepage_style or '1' ) %}

{% block subtitle %}{{ _("Welcome") }}{% endblock %}

{% block breadcrumb_content %}
  <li class="active">{{ h.nav_link(_('Start'), controller='home', action='index') }}</li>
{% endblock %}


    {% block main_content %}

{% block toolbar %}
{{ super() }}
{% snippet "snippets/search_box.html"%}
{% endblock %}

<div class='home-page-content'>
<h2 class='home-title'>Open Data Schleswig-Holstein</h2>
<p>Wir fördern Transparenz und Innovation durch Veröffentlichung schleswig-holsteinischer Daten in offenen, freien und wiederverwendbaren Formaten.</p>
<a href="/dataset" class="btn btn-primary home-button">
Datensätze entdecken
</a>
    {% for group_row in h.odsh_main_groups() | batch(3, '') %}
    <div class='home-groups'>
    <div class='home-groups-rows'>
        {% for group in group_row %}
        {% if group != '' %}
            {% set href = h.add_url_param(controller='package', action='search',extras={'groups':group.id} ) %}
            <div class='home_group_item'>
            <div class='home-groups-img'>
                <img  src="/base/images/icon_kat_{{group.id}}.svg"/>
            </div>
            <div class='home-groups-title'>
                <div>
                    <a href='{{href}}'>{{group.display_name}}</a>
                </div>
            </div> 
            </div>
        {% endif %}
        {% endfor %}
    </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
{% block secondary%}
{% endblock %}