{% extends "page.html" %}

{% block subtitle %}{{ c.group_dict.display_name }} - {{ _('Organizations') }}{% endblock %}

{% block breadcrumb_content %}
<li>{% link_for _('Organizations'), controller='organization', action='index' %}</li>
<li class="active">{% link_for c.group_dict.display_name|truncate(35), controller='organization', action='read',
    id=c.group_dict.name %}</li>
{% endblock %}

{% block content_action %}
{% endblock %}

{% block page_header %}
<div class="odsh-dataset-heading">
    <div class="pull-right">
        {% if h.check_access('organization_update', {'id': c.group_dict.id}) %}
        {% link_for _('Manage'), controller='organization', action='edit', id=c.group_dict.name, class_='btn btn-primary btn-add-dataset',
        icon='wrench' %}
        {% endif %}
    </div>
    <h2> {{ c.group_dict.title or c.group_dict.name }} </h2>
</div>
{% if c.group_dict.description %}
<div class="organizaion-full-description with-bottom-line">
    {{ h.render_markdown(c.group_dict.description) }}
</div>
{% else %}
<p class="empty">{{ _('There is no description for this organization') }}</p>
{% endif %}
{% endblock %}


{% block secondary_content %}
{% set organization = c.group_dict %}
<div class='organization-image-container'>
<img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}"
    alt="{{ organization.name }}" class="organization-image-info">
</div>
{% block organization_facets %}{% endblock %}
{% endblock %}

{% block links %}
{{ super() }}
{% include "organization/snippets/feeds.html" %}
{% endblock %}