{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = datarequest.get('title', '') %}
{% set description = h.markdown_extract(datarequest.get('description', ''), extract_length=truncate) %}

<div class="container-fluid odsh-dataset-item">
  {% block package_item_content %}
    <div class="dataset-content">
      <div class="dataset-heading ">
        <div class="span1">
        {% if datarequest.get('closed', False) %}
          <div class="label label-closed">
            {% trans %}Done{% endtrans %}
          </div>
        {% else %}
          <div class="label label-open">
            {% trans %}Open{% endtrans %}
          </div>
        {% endif %}
        </div>
        <div class='span9'>
          <div class='datarequest-subtitle'>
            <span class="datarequest-item-open-time">{{h.odsh_render_datetime(datarequest.open_time)}}</span>
            <span class="datarequest-item-autor-name">{{datarequest.user['display_name']}}</span>
          </div>
          {{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='ckanext.datarequests.controllers.ui_controller:DataRequestsUI', action='show', id=datarequest.get('id', ''))) }}
        </div>
      </div>
      {% if description %}
        <div>{{ description }}</div>
      {% endif %}
      {% if h.show_comments_tab() %}
        <i class="icon-comment fa fa-comment"></i> {{ h.get_comments_number(datarequest.get('id', '')) }}</span>
      {% endif %}
    </div>
     <div class="dataset-meta">
        {% if h.show_comments_tab() %}
         {% link_for _('Add New Comment'), controller='ckanext.datarequests.controllers.ui_controller:DataRequestsUI', action='comment', id=datarequest.get('id',''), class_='btn btn-primary btn-arrow-right'  %}
        {% endif %}
      </div>
  {% endblock %}
</div>