{% extends "datarequests/base.html" %}

{% block subtitle %}{{ _('Create Data Request') }}{% endblock %}

{% block breadcrumb_content %}
  <li>{% link_for _('Data Proposal'), controller='ckanext.datarequests.controllers.ui_controller:DataRequestsUI', action='index' %}</li>
  <li class="active"><a href="">{{ _('Create Data Proposal') }}</a></li>
{% endblock %}

{% block primary_content_inner %}
  <h1 class="{% block page_heading_class %}page-heading{% endblock %}">{% block page_heading %}{{ _('Create New Data Request') }}{% endblock %}</h1>
  {% snippet "datarequests/snippets/new_datarequest_form.html", data=c.datarequest, errors=c.errors, errors_summary=c.errors_summary, offering=c.offering %}
{% endblock %}

{% block secondary %}
{% endblock %}

{% block page_header %}{% endblock %}