{% extends "datarequests/base.html" %}

{% block title %}{{_('Data Request')}} {{c.datarequest.get('title', '')}}{% endblock %}

{% set datarequest_id = c.datarequest.get('id') %}

{% block breadcrumb_content %}
  <li>{% link_for _('Data Requests'), controller='ckanext.datarequests.controllers.ui_controller:DataRequestsUI', action='index' %}</li>
  <li>{% link_for c.datarequest.get('title'), controller='ckanext.datarequests.controllers.ui_controller:DataRequestsUI', action='show', id=datarequest_id %}</li>
{% endblock %}

{% block content_action %}

  {% if h.check_access('update_datarequest', {'id':datarequest_id }) %}
    {% link_for _('Manage'), controller='ckanext.datarequests.controllers.ui_controller:DataRequestsUI', action='update', id=datarequest_id, class_='btn btn-default', icon='wrench' %}
  {% endif %}

  {% if h.check_access('close_datarequest', {'id':datarequest_id }) and not c.datarequest.closed %}
    {% link_for _('Close'), controller='ckanext.datarequests.controllers.ui_controller:DataRequestsUI', action='close', id=datarequest_id, class_='btn btn-danger', icon='lock' %}
  {% endif %}

{% endblock %}

{% block content_primary_nav %}
  {{ h.build_nav_icon('show_datarequest', _('Data Request'), id=datarequest_id) }}
{% endblock %}

{% block secondary_content %}
<section class="additional-info">
      {% block package_additional_info %}
          <div>{{ _('Released') }}: {{ h.odsh_render_datetime(c.datarequest.open_time) }}</div>
          <div>{{ _('Suggester') }}: {{ c.datarequest.user['display_name'] if c.datarequest.user else _('None') }}</div>
          {#<td class="dataset-details" title="{{ c.datarequest.close_time }}">{{ h.time_ago_from_timestamp(c.datarequest.close_time) if c.datarequest.close_time else _('Not closed yet') }}</td>#}
          <div >{{ _('Status') }}:
          <div  class="dataset-details">
            {% if c.datarequest.get('closed', False) %}
            <div class="datarequest-label label-closed">
                {% trans %}Closed{% endtrans %}
            </div>
            {% else %}
            <div class="label label-open">
                {% trans %}Open{% endtrans %}
            </div>
            {% endif %}
          </div>
        {#{% if c.datarequest.closed %}
          <tr>
            <th scope="row" class="dataset-label">{{ _('Accepted Dataset') }}</th>
            <td class="dataset-details">
            {% if c.datarequest.accepted_dataset %}
              {% link_for c.datarequest.accepted_dataset['title'], controller='package', action='read', id=c.datarequest.accepted_dataset.get('id') %}
            {% else %}
              {{ _('None') }}
            {% endif %}
            </td>
          </tr>
        {% endif %}
        #}
        <div class='comment-count-wrapper'><i class="icon-comment fa fa-comment"></i> {{ h.get_comments_number(c.datarequest.get('id', '')) }}</span> </div>
      {% endblock %}
</section>
{% endblock %}

{% block primary_content_inner %}
    {% if c.datarequest.closed %}
      <span class="uppercase label label-closed pull-right">
        <i class="icon-lock fa fa-lock"></i>
        {{ _('Closed') }}
      </span>
    {% else %}
      <span class="uppercase label label-open pull-right">
        <i class="icon-unlock fa fa-unlock"></i>
        {{ _('Open') }}
      </span>
    {% endif %}

  <h1 class="{% block page_heading_class %}page-heading{% endblock %}">{% block page_heading %}{{ c.datarequest.get('title') }}{% endblock %}</h1>

  {% block datarequest_description %}
    {% if c.datarequest.get('description') %}
      <div class="notes embedded-content">
        {{ h.render_markdown(c.datarequest.get('description')) }}
      </div>
    {% endif %}
  {% endblock %}

  {% block datarequest_additional_info %}
    {% snippet "datarequests/snippets/additional_info.html", datarequest=c.datarequest %}
  {% endblock %}

{% if c.comments %}
{% for comment in c.comments %}
{% snippet "datarequests/snippets/comment_item.html", comment=c.comment, datarequest=c.datarequest, errors=c.errors, errors_summary=c.errors_summary, updated_comment=c.updated_comment %}
{% endfor %}
{% else %}
<p class="empty">
{{ _('This data request has not been commented yet') }}
</p>
{% endif %}

{% endblock %}