{#
Embeds a organization within the sidebar of a page.

organization - The organization dict.
truncate - A max length for the organization description. If not provided the description
will be full length.
has_context_title - Boolean for whether to display a module-heading for when
this snippet appears within a non-organization template
(e.g. dataset page sidebar)

Example:

{% snippet 'snippets/organization, organization=c.group_dict %}

#}

{% set truncate = truncate or 0 %}

{% block info %}
<div class="module module-narrow module-shallow context-info">
    {% block heading %}
    <h1 class="heading">{{ organization.title or organization.name }}
        {% if organization.state == 'deleted' %}
        [{{ _('Deleted') }}]
        {% endif %}
    </h1>
    {% endblock heading%}
    <section id="section-org" class="module-content">
        {% block inner %}
        {% block image %}
        <div class="image">
            <img src="{{ organization.image_display_url or h.url_for_static('/base/images/placeholder-organization.png') }}"
                width="200" alt="{{ organization.name }}" />
        </div>
        
        <div class="information-organisation">
            {% set address = h.tpsh_get_address_org(organization) %}
            {% set street = address.get('street') %}
            {% set location = address.get('location') %}
            {% set mail = address.get('mail') %}
            {% set telephone = address.get('telephone') %}
            {% set web = address.get('web') %}
            
            {% if person %}
            <p>   
                {{ person }}  
            </p>
            {% endif %} {# person #}

            {% if street and location %}
            <p>{{ street }}</p>
            <p>{{ location }}</p>
            {% endif %} {# street and location #}
                
            {% if mail %}
            {% if package %}
            {% set package_name = package.get('name') %}
            {% set betreff = "Transparenzportal Dokument: "+ package_name%}
            {% set body_mail = h.tpsh_get_body_mail(organization, package)   %}
            {% else %}
            {% set betreff = "Transparenzportal" %}
            {% endif %} {# package #}
            <p>
                <a href="mailto:{{ mail }}?subject={{betreff}}&body={{body_mail}}Viele Grüße">{{ mail }}</a>
            </p>
            {% endif %} {# mail #}

            {% if telephone %}
            <p class="phone">
                {{ telephone }}
            </p>
            {% endif %} {# telephone #}
            
            {% if web %}
            <p>
                <a href="{{address.web}}">{{ address.web }}</a>
            </p>
            {% endif %} {# web #}
        </div>
        {% endblock image%}

        {% if not hide_description %}
        {% block description %}
        {% if organization.description %}
        <p>
            {{ h.markdown_extract(organization.description, 180) }}
            {% link_for _('read more'), controller='organization', action='about', id=organization.name %}
        </p>
        {% else %}
        <p class="empty">{{ _('There is no description for this organization') }}</p>
        {% endif %}
        {% endblock description %}
        {% endif %}
        {% if show_nums %}
        {% block nums %}
        <div class="nums">
            <dl>
                <dt>{{ _('Followers') }}</dt>
                <dd>{{ h.SI_number_span(organization.num_followers) }}</dd>
            </dl>
            <dl>
                <dt>{{ _('Documents') }}</dt>
                <dd>{{ h.SI_number_span(organization.package_count) }}</dd>
            </dl>
        </div>
        {% endblock nums%}
        {% block follow %}
        <div class="follow_button">
            {{ h.follow_button('group', organization.id) }}
        </div>
        {% endblock follow %}
        {% endif %}
        {% endblock inner %}
    </section>
</div>
{% endblock %}