{#
Displays a single of dataset.

package - A package to display.
item_class - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner - If true displays a popular banner (default: false).
truncate - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

{% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 80 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}
{% set license_title =package.license_title if package.license_title else '-'%}
{% set licenseAttributionByText = h.odsh_extract_value_from_extras(package.extras,'licenseAttributionByText')%}
{% set license_name=' ('+licenseAttributionByText +')' if licenseAttributionByText else ''%}
{% set license = license_title + license_name %}
{% set temporal_start = h.odsh_extract_value_from_extras(package.extras,'temporal_start') %}
{% set start=h.odsh_render_datetime(temporal_start) if temporal_start else ''%}
{% set temporal_end = h.odsh_extract_value_from_extras(package.extras,'temporal_end') %}
{% set end=h.odsh_render_datetime(temporal_end) if temporal_end else ''%}
{% set timerange = start + '-' + end%}
{% set org = package.organization.title or package.organization.name or '-' %}
{% set stars = h.odsh_openness_score_dataset_html(package) %}
{% set access_count=(package.tracking_summary.total if package.tracking_summary) or '-' %}
{% set timerange_label ='Zeitraum' %}
{% set access_count_label ='Aufrufe' %}
{% set issued_extra = h.odsh_extract_value_from_extras(package.extras,'issued') %}
{% set issued = h.odsh_render_datetime(issued_extra) if issued_extra else '-' %}
{% set categories = package.groups|map(attribute='display_name')|join(', ') if package.groups else '-' %}

{% block package_item %}
<div class="container-fluid odsh-dataset-item">
  {% block content %}
  <div class="dataset-content">
    {% block heading %}
    <p>{{org}}</p>
    <h3 class="dataset-heading">
      {% block heading_private %}
      {% if package.private %}
      <span class="dataset-private label label-inverse">
        <i class="fa fa-lock"></i>
        {{ _('Private') }}
      </span>
      {% endif %}
      {% endblock %}
      {% block heading_title %}
      {{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name),title=_('View {organization_name}').format(organization_name=title))
      }}
      {% endblock %}
      {% block heading_meta %}
      {% if package.get('state', '').startswith('draft') %}
      <span class="label label-info">{{ _('Draft') }}</span>
      {% elif package.get('state', '').startswith('deleted') %}
      <span class="label label-important">{{ _('Deleted') }}</span>
      {% endif %}
      {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
      </span>
      {% endblock %}
    </h3>
    {% endblock %}
    {% block banner %}
    {% if banner %}
    <span class="banner">{{ _('Popular') }}</span>
    {% endif %}
    {% endblock %}
    {% block notes %}
    <div class='package-info-pill'>
        {{timerange}}
    </div>
    <div class='package-info-pill'>
        {{h.odsh_get_spatial_text(package) }}
    </div>
    <p class='package-info-categorie'>{{ _('Kategorie') }}: {{ categories}} </p>
    {% endblock %}
  </div>
  <div class='dataset-spacer'></div>
  <div class="dataset-meta">
    {% block resources %}
    {% block resources_outer %}
    {% if package.resources and not hide_resources %}
    <ul class="dataset-resources">
      {% block resources_inner %}
      {% for resource in h.dict_list_reduce(package.resources, 'format') %}
      <li>
        <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}" class="label dataformat-label"
          data-format="{{ resource.lower() }}">{{
          resource }}</a>
      </li>
      {% endfor %}
      {% endblock %}
    </ul>
    {% endif %}
    <div class="dataset-stars">
      {% snippet "qa/stars.html", stars=stars %}
    </div>

    <div class="dataset-info issued">
      <p>{{ _('issued') }}: {{issued}} </p>
    </div>
    {% endblock %}
    {% endblock %}
  </div>
  {% endblock %}
</div>
{% endblock %}
