{#
Displays a single of dataset.

package - A package to display.
item_class - The class name to use on the list item.
hide_resources - If true hides the resources (default: false).
banner - If true displays a popular banner (default: false).
truncate - The length to trucate the description to (default: 180)
truncate_title - The length to truncate the title to (default: 80).

Example:

{% snippet 'snippets/package_item.html', package=c.datasets[0] %}

#}
{% set truncate = truncate or 180 %}
{% set truncate_title = truncate_title or 180 %}
{% set title = package.title or package.name %}
{% set notes = h.markdown_extract(package.notes, extract_length=truncate) %}
{% set license_title =package.license_title if package.license_title else '-'%}
{% set licenseAttributionByText = h.odsh_extract_value_from_extras(package.extras,'licenseAttributionByText')%}
{% set license_name=' ('+licenseAttributionByText +')' if licenseAttributionByText else ''%}
{% set license = license_title + license_name %}
{% set org = package.organization.title or package.organization.name or '-' %}
{% set stars = h.odsh_openness_score_dataset_html(package) %}
{% set access_count=(package.tracking_summary.total if package.tracking_summary) or '-' %}
{% set issued_extra = h.odsh_extract_value_from_extras(package.extras,'issued') %}
{% set issued = h.odsh_render_datetime(issued_extra) if issued_extra else h.odsh_render_datetime(package.metadata_created)%}
{% set daterange = h.tpsh_get_daterange_prettified(package) %}
{% set language_of_package = h.tpsh_get_language_of_package(package) %}
{% set language_icon = h.get_language_icon(package) %}
{% set thumbnail = package.get('thumbnail') %}

{% block package_item %}
<div class="odsh-dataset-item">
    {% block content %}
    <div class="dataset-content">
        {% block heading %}
        {%if daterange %}
        <div class='package-info-pill'>
            {{ daterange }}
        </div>
        {% endif %}
        {% set spatial_text=h.odsh_get_spatial_text(package)%}
        {% if spatial_text %}
        <div class='package-info-pill'>
            {{ spatial_text }}
        </div>
        {% endif %}
        {% if language_of_package != 'Deutsch' and language_of_package %}
        <div class='package-info-pill'>
            <img src={{ language_icon }} />
            {{ language_of_package }}
        </div>
        {% endif %}
        <p>{{ org }}</p>
        <h3 class="dataset-heading">
            {% block heading_private %}
            {% if package.is_new %}
            <span class='label new-dataset-label'>{{ _('NEW') }}</span>
            {% endif %}
            {% if package.private %}
            <span class="dataset-private label label-inverse">
                <i class="fa fa-lock"></i>
                {{ _('Private') }}
            </span>
            {% endif %}
            {% endblock heading_private %}
            {% block heading_title %}
            {{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name),title=_('View {organization_name}').format(organization_name=title))}}
            {% endblock heading_title %}
            {% block heading_meta %}
            {% if package.get('state', '').startswith('draft') %}
            <span class="label label-info">{{ _('Draft') }}</span>
            {% elif package.get('state', '').startswith('deleted') %}
            <span class="label label-important">{{ _('Deleted') }}</span>
            {% endif %}
            {{ h.popular('recent views', package.tracking_summary.recent, min=10) if package.tracking_summary }}
            {% endblock heading_meta %}
        </h3>
        {% endblock heading%}
        {% block banner %}
        {% if banner %}
        <span class="banner">{{ _('Popular') }}</span>
        {% endif %}
        {% endblock banner%}

        {% block notes %}
        {% if package.groups|length %}   
        <p class='package-info-category'>
            <span class='category-header'>
                {% trans category_count=package.groups|length %}
                category:
                {% pluralize %}
                categories:
                {% endtrans %}
            </span>
            {% for category in package.groups %}
            <span class='category-with-icon'>
                <span class='category-icon-container' aria-hidden='true'>
                    <img src="/base/images/icon_kat_{{category.name}}.svg" alt=""/>
                </span>
                <span class="category-name">
                    {{ category.display_name }}
                </span>
            </span>
            {% endfor %}
        </p>
        {% endif %}
        {% endblock notes %}
    </div>

    <div class='dataset-spacer'></div>

  <div class="dataset-meta">
    {% block resources %}
    {% block resources_outer %}
    {% if package.resources and not hide_resources %}
    <ul class="dataset-resources">
      {% block resources_inner %}
      {% for resource in h.dict_list_reduce(package.resources, 'format') %}
      <li>
        <a href="{{ h.url_for(controller='package', action='read', id=package.name) }}" class="label dataformat-label"
          data-format="{{ resource.lower() }}">{{
          resource }}</a>
      </li>
      {% endfor %}
      {% endblock %}
    </ul>
    {% endif %}
    <div class="dataset-stars">
    {% if stars>-1%}
      {% snippet "qa/stars.html", stars=stars %}
    {% endif %}
    </div>

    <div class="dataset-info issued">
      <p>{{ _('issued') }}: {{issued}} </p>
    </div>
    {% endblock %}
    {% endblock %}
  </div>

    {% endblock content %}
</div>
{% endblock package_item %}
