{% import 'macros/form.html' as form %}

{% set placeholder = placeholder if placeholder else _('Search datasets...') %}
{% set sorting_label_prefix = _('Order by') %}
{% if type=='organization' %}
{% set sorting = sorting if sorting else [(_('Name Ascending'), 'name asc'), (_('Name Descending'), 'name desc')] %}
{% elif type=='datarequest' %}
{% set sorting = [(_('Date Ascending'), 'asc'), (_('Date Descending'), 'desc')] %}
{% else %}
{% set sorting = [
          (_('Relevance'), 'score desc, metadata_modified desc'),
          (_('Name Ascending'), 'title_string asc'),
          (_('Name Descending'), 'title_string desc'),
          (_('Issued Ascending'), 'extras_issued asc'),
          (_('Issued Descending'), 'extras_issued desc'),
          (_('Popular'), 'views_recent desc') if g.tracking_enabled else (false, false) ]
        %}
{% endif %}
{% set search_class = search_class if search_class else 'search-giant' %}
{% set no_bottom_border = no_bottom_border if no_bottom_border else false %}
{% set form_id = form_id if form_id else false %}

<div  class="search-form{% if no_bottom_border %} no-bottom-border{% endif %}" >

    {% block search_input %}
    {% endblock %}

    {% block search_search_fields %}
    {% if fields -%}
    <span>{{ form.hidden_from_list(fields=fields) }}</span>
    {%- endif %}
    {% endblock %}

    {% block search_sortby %}
    {% if sorting %}
    <div class="form-select control-group control-order-by">
        <select id="field-order-by" name="sort">
            {% for label, value in sorting %}
            {% if label and value %}
            <option value="{{ value }}" {% if sorting_selected==value %} selected="selected" {% endif %}>
                {{sorting_label_prefix}} {{ label }}</option>
            {% endif %}
            {% endfor %}
        </select>
        {% block search_sortby_button %}
        <button class="btn js-hide" type="submit">{{ _('Go') }}</button>
        {% endblock %}
    </div>
    {% endif %}
    {% endblock %}

    {% block search_title %}
    {% if not error %}
    {% if force_title %}
    <h2>{{force_title }}</h2>
    {% else %}
    <h2>{% snippet 'snippets/search_result_text.html', query=query, count=count, type=type %}</h2>
    {% endif %}
    {% else %}
    <h2>Error</h2>
    {% endif %}
    {% endblock %}

    {% block search_facets %}
    {% if facets %}
    <p class="filter-list">
        {% for field in facets.fields %}
        {% set search_facets_items = facets.search.get(field)['items'] %}
        {% for value in facets.fields[field] %}
        <span class="filtered pill">
            {% if(field=='openness')%}
                {{_(value)}}
            {%- else -%}
                {%- if facets.translated_fields and facets.translated_fields.has_key((field,value)) -%}
                {{ facets.translated_fields[(field,value)] }}
                {%- else -%}
                {{ h.list_dict_filter(search_facets_items, 'name', 'display_name', value) }}
                {#{{_(value)}}#}
                {%- endif %}
             {%- endif %}
                <a href="{{ facets.remove_field(field, value) }}" class="remove" title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
        </span>
        {% endfor %}
        {% endfor %}
    </p>
    <a class="show-filters btn">{{ _('Filter Results') }}</a>
    {% else%}
    {% if always_show_filter_list%}
    <p class="filter-list"></p>
    {% endif %}
    {% endif %}
    <div id="datesearch-filter">
        {%set start_date=h.odsh_render_datetime(request.params.get('ext_startdate'), False)%}
        {%set end_date=h.odsh_render_datetime(request.params.get('ext_enddate'), False)%}
        {%- set start_error = start_date == '' and request.params.get('ext_startdate')-%}
        {%- set end_error = end_date == '' and request.params.get('ext_enddate')-%}
        {% if start_date or end_date or start_error or end_error%}
        <p class="filter-list">
            {% if start_date and not start_error%}
            <span class="filtered pill">
                {{_('daterange')}}: {{_('from')}} {{ start_date}}
                <a href="{{ h.remove_url_param('ext_startdate') }}" class="remove" title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
            </span>
            {% endif %}
            {% if start_error %}
            <span class="filtered pill error">
                {{_('daterange')}}: {{_('wrong_start_date_for_search')}}
                <a href="{{ h.remove_url_param('ext_startdate') }}" class="remove" title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
            </span>
            {% endif %}

            {% if end_date and not end_error%}
            <span class="filtered pill">
                {{_('daterange')}}: {{_('to')}} {{ end_date}}
                <a href="{{ h.remove_url_param('ext_enddate') }}" class="remove" title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
            </span>
            {% endif %}
            {% if end_error %}
            <span class="filtered pill error">
                {{_('daterange')}}: {{_('wrong_end_date_for_search')}}
                <a href="{{ h.remove_url_param('ext_enddate') }}" class="remove" title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
            </span>
            {% endif %}
        </p>
        {% endif %}
    </div>
    <div >
        {%set ext_bbox=request.params.get('ext_bbox')%}
        {%set ext_prev_extent=request.params.get('ext_prev_extent')%}
        {%set ext_location=request.params.get('ext_location')%}
        {% if ext_bbox %}
        <p class="filter-list">
            <span class="filtered pill">
                {{_('map search active')}}
                <a href="{{ h.remove_url_param(['ext_bbox','ext_prev_extent', 'ext_location'])}}" class="remove" title="{{ _('Remove') }}"><i class="fa fa-times"></i></a>
            </span>
        </p>
        {% endif %}
    </div>
    {% endblock %}

</div>

{% if show_empty and count == 0 and not error %}
{% trans %}
<p class="extra">Please try another search.</p>
{% endtrans %}
{% endif %}

{% if error %}
{% trans %}
<p id="search-error"><strong>There was an error while searching.</strong> Please try again.</p>
{% endtrans %}
{% endif %}